$submit-button-activeBackgroundColor : #ff0d15;

$submit-button-activeBorderColor : #ff0d15;

$submit-button-activeColor : #FFFFFF;

$submit-button-backgroundColor : #ff0d15;

$submit-button-borderColor : #ff0d15;

$submit-button-color : #FFFFFF;

$submit-button-hoverBackgroundColor : #790404;

$submit-button-hoverBorderColor : #790404;

$submit-button-hoverColor : #FFFFFF;

