// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

$body-bg: #fff;
$white:  #fff !default;
$gray-100: #eaeaea;
$gray-200: #e7e7e7;
$gray-300: #e3e3e3;
$gray-400: #d7d7d7;
$gray-500: #999999;
$gray-600: #8a8c8e;
$gray-700: #585857;
$gray-800: #4a4a4a;
$gray-900: #202020;
$black:  #000 !default;

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(("100": $gray-100,
"200": $gray-200,
"300": $gray-300,
"400": $gray-400,
"500": $gray-500,
"600": $gray-600,
"700": $gray-700,
"800": $gray-800,
"900": $gray-900),
$grays);


$blue: #7cadd3;
$blue-200: #a5c6e0;
$blue-700: #002855;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red:  #d00a11 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #008644;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(("blue": $blue,
"indigo": $indigo,
"purple": $purple,
"pink": $pink,
"red": $red,
"orange": $orange,
"yellow": $yellow,
"green": $green,
"teal": $teal,
"cyan": $cyan,
"white": $white,
"gray": $gray-600,
"gray-dark": $gray-800),
$colors);

$primary: $theme-colors-primary;
$secondary: $theme-colors-secondary;
$tertiary: $theme-colors-tertiary;
$success:$theme-colors-success;
$info: $theme-colors-info;
$warning: $theme-colors-warning;
$danger: $theme-colors-danger;
$light: $theme-colors-light;
$dark: $theme-colors-dark;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(("primary": $primary,
"secondary": $secondary,
"tertiary": $tertiary,
"success": $success,
"info": $info,
"warning": $warning,
"danger": $danger,
"light": $light,
"dark": $dark),
$theme-colors);

$rem-base: 10px;


// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-200;
$body-color: $gray-900;

// Links
//
// Style anchor elements.

$link-color: theme-color("primary");
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 23px;


// Components
//
// Define common padding and border radius sizes and more.
$border-color: theme-color("primary");

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case

$global-font-family-base:$font-family-sans-serif !default;

$font-family-base: $global-font-family-base;

$global-font-size-base : 1.5rem !default;
$global-h1-font-size : 3.5rem !default;
$global-h2-font-size : 2.3rem !default;
$global-h3-font-size : 2.2rem !default;
$global-line-height-base : 1.33 !default;


$font-size-base: $global-font-size-base;
$line-height-base: $global-line-height-base;

$h1-font-size: $global-h1-font-size;
$h2-font-size: $global-h2-font-size;
$h3-font-size: $global-h3-font-size;
$h4-font-size: $font-size-base * 1.5 !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-line-height: 1 !default;
$btn-box-shadow: none !default;
$btn-focus-box-shadow: none !default;
$btn-active-box-shadow: none !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: 0 !default;
$btn-border-radius-sm: 0 !default;

$btn-transition: color .15s ease-in-out,
background-color .15s ease-in-out,
border-color .15s ease-in-out,
box-shadow .15s ease-in-out !default;



// Forms
$label-margin-bottom: .5rem !default;
$input-padding-y: 1.2rem !default;
$input-padding-x: 1.9rem !default;
$input-line-height: 1.2 !default;
$input-color: $gray-900 !default;
$input-border-color: theme-color("primary") !default;
$input-box-shadow: none !default;
$input-border-radius: 0 !default;
$input-placeholder-color: $gray-500 !default;
$input-height: 4.9rem !default;
$input-focus-box-shadow: none !default;
$input-focus-color: $gray-900 !default;
$input-focus-border-color: theme-color("secondary") !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1280px,
xxl: 1420px);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (sm: 540px,
md: 742px,
lg: 960px,
xl: 1263px);

/* xl: 1215px */

// Breadcrumbs
$breadcrumb-divider: quote(">");
$breadcrumb-item-padding: .2rem;
$breadcrumb-padding-y: 1.8rem 0;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 1.5rem;
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: $gray-800;
$breadcrumb-active-color: $gray-800;

// Cards
$card-border-width: 0;

// Blockquote
$blockquote-font-size: $font-size-base;

// Tooltips
$tooltip-bg: $blue-700 !default;
$tooltip-arrow-color: $blue-700 !default;
$tooltip-color: $white !default;
$tooltip-font-size: $font-size-base;
$tooltip-padding-y: .5rem;
$tooltip-padding-x: 1rem;
$tooltip-arrow-width: 1rem;
$tooltip-arrow-height: .5rem;

// Pagination

$pagination-padding-y: .5rem !default;
$pagination-padding-x: .75rem !default;
$pagination-padding-y-sm: .25rem !default;
$pagination-padding-x-sm: .5rem !default;
$pagination-padding-y-lg: .75rem !default;
$pagination-padding-x-lg: 1.5rem !default;
$pagination-line-height: 1.25 !default;

$pagination-color: theme-color("primary") !default;
$pagination-bg: transparent;
$pagination-border-width: 0;
$pagination-border-color: transparent;

$pagination-focus-box-shadow: transparent;

$pagination-hover-color: $blue-700 !default;
$pagination-hover-bg: transparent;
$pagination-hover-border-color: transparent;
$form-group-margin-bottom:2rem !default;
