$font-family-sans-serif: 'Europa',
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-futura: 'Futura',
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
sans-serif;
$font-sourceSans: 'source-sans',
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
sans-serif;
$font-playfair: 'Playfair Display',
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
serif;

$font-family-avenir:      "AvenirLTStd", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-brandon:      "brandon", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-europa:      "Europa", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
