$global-h2-font-size : 2.3rem;
$global-line-height-base : 1.33;
$global-h1-font-size : 3.5rem;
$global-h3-font-size : 2.2rem;
$global-font-size-base : 1.5rem;
$global-font-family-base : $font-family-avenir;
$carousel-heading-font-size : 3.5rem;
$carousel-description-font-size : 1.6rem;
