$loading-circle-waterBColor : #970408;
$loading-circle-backgroundColor : #B5B5B5;
$loading-circle-waterFColor : #d00a11;
$footer-1-linkHoverColor : #008644;
$footer-1-linkActiveColor : #4a4a4a;
$footer-1-linkHoverTextDecoration : underline;
$footer-1-linkColor : #4a4a4a;
$standard-light-box-backgroundColor : #f1f1f1;
$standard-light-box-titleColor : #d00a11;
$standard-light-box-color : #292a2a;
$location-entry-light-box-backgroundColor : #e3e3e3;
$location-entry-light-box-color : #292A2A;
$small-check-box-focusBorderColor : #d5d5d5;
$small-check-box-borderColor : #d5d5d5;
$small-check-box-color : #3e4345;
$standard-radio-button-color : #9B9B9B;
$highlight-radio-button-group-backgroundColor : #fff;
$highlight-radio-button-group-activeBackgroundColor : #e0b6b6;
$highlight-radio-button-group-color : #4a4a4a;
$highlight-radio-button-group-focusBorderColor : #4a4a4a;
$highlight-radio-button-group-textColor : #4a4a4a;
$highlight-radio-button-group-activeTextColor : #4a4a4a;
$location-input-field-placeHolderColor : #979797;
$location-input-field-focusBorderColor : #D7D7D7;
$location-input-field-borderColor : #D7D7D7;
$location-input-field-color : #4A4A4A;
$large-check-box-focusBorderColor : #d5d5d5;
$large-check-box-borderColor : #d5d5d5;
$large-check-box-color : #3e4345;
$carousel-dots-backgroundColor : #74787a;
$carousel-dots-borderColor : #c3c3c3;
$carousel-dots-activeBackgroundColor : #c3c3c3;
$secondary-list-box-backgroundColor : #FFFFFF;
$secondary-list-box-color : #4A4A4A;
$secondary-list-box-listBackgroundColor : #FFFFFF;
$secondary-list-box-listColor : #4A4A4A;
$secondary-list-box-listHoverColor : #FFFFFF;
$secondary-list-box-borderColor : #E0E0E0;
$secondary-list-box-focusBorderColor : #E0E0E0;
$secondary-list-box-listHoverBackgroundColor : #797979;
$text-list-box-listHoverBackgroundColor : #E8E8E8;
$text-list-box-color : #4A4A4A;
$text-list-box-listBackgroundColor : #FFFFFF;
$text-list-box-listColor : #4A4A4A;
$text-list-box-listHoverColor : #4A4A4A;
$text-list-box-hovertextDecoration : underline;
$text-list-box-textDecoration : underline;
$text-list-box-hoverColor : #4A4A4A;
$primary-list-box-backgroundColor : #E0E0E0;
$primary-list-box-color : #4A4A4A;
$primary-list-box-listBackgroundColor : #FFFFFF;
$primary-list-box-listColor : #4A4A4A;
$primary-list-box-listHoverColor : #4A4A4A;
$primary-list-box-borderColor : #E0E0E0;
$primary-list-box-focusBorderColor : #E0E0E0;
$primary-list-box-listHoverBackgroundColor : #E8E8E8;
$dropdown-link-hover-bg : #dc6161;
