#security{
    .checkbox-wrap {
        overflow: hidden;
        margin: 0 0 -10px;

        @include media-breakpoint-up (lg) {
            margin: 13px -20px 0 0;
          }

        .jcf-checkbox{
            vertical-align: top !important;
            width: 3.4rem;
            height: 3.4rem;
          span {
            font-size: 2.4rem;
            top: 66%;
          }
        }
      label {
        font-weight: 500;
      }
    }
    .my-passwords{
        h5{
            padding:0;
        }
      .passwordholder{
        .row {
          padding: 10px 0;
          margin: 5px -11.5px;
        }
        .row:last-child {
          border-bottom: none;
        }
      }
    }
    .large-border-bottom {
        border-bottom: 1px solid #c1c1c1;
      @include media-breakpoint-down (sm) {
        border-bottom: none;
      }
    }
    .btn-wrap  {
            margin-bottom: 2rem;
      @include media-breakpoint-down (sm) {
        float: none !important;
        margin-left: 5%;
        .btn-primary {
          width: 90%;
        }
      }
        }
    .btn-link{
        padding: 1.7rem 1.6rem 1.5rem;
        margin-right: 3rem;
      @include media-breakpoint-down (sm) {
        margin-left: 40%;
      }
    }
  .dob-container {
    .form-group {
      padding-right: 0;
    }
    @include media-breakpoint-down (sm) {
      .form-control {
        padding-left: 0.5rem;
      }
    }
    }
    .inputs-box {
      padding: 0 0 10px 0;
    }
}
