#empty-accessories-list{
        height: auto;
       
        @include media-breakpoint-up (md){
            .products-listing-section{

                .list-wrap{
                     overflow: hidden;
                }

            }
        }
        .warning-msg-prdct {
       
          text-align: center;
        }
        .center-align {
          text-align: center;
          display: block;
              text-align: center;
              display: block;
              margin: 2% auto auto;
        }
        .alert-warning{
              color: $standard-light-box-color;
              background: $location-entry-light-box-backgroundColor;
              border-radius: 5px;
              padding: 1em;              
        }

        .badge.badge-pill {
          display: inline-block;
          min-width: 10px;
          padding: 3px 7px;
          font-size: 13px;
          font-weight: 400;
          color: $white;
          line-height: 1;
          vertical-align: middle;
          white-space: nowrap;
          text-align: center;
          background-color: $theme-colors-danger;
          border-radius: 10px;
}
.alert-warning span {
  margin-right: 10px;
}
.btn.btn-primary {  
  color:$white;
}
}