#addresses-form
{
   label{
       p{
           margin-bottom: 0rem; 
       }   
    }
    .address-form{
        overflow: hidden
    }
    @include media-breakpoint-down(xs) {
  
        #address-save-btn{
          width: 97%;
        }
        #addresses-form-cancel-link-1{
         margin-left: 28vw;
         margin-top: 1rem;
        }
        #addresses-form-submit-btn{
          width: 85%!important;
        }
        }
        @include media-breakpoint-down(sm) { 
          #address-btn-form{
          margin-top: -4rem!important;
          margin-bottom: 0rem !important;
        }
        }
    
}