#add-to-cart-popup {
  .add-cart-pop-open {
    background-color: transparent;

    &.fancybox-wrap {
      width: 100% !important;
      height: auto !important;
      top: 93px !important;
      position: absolute !important;
      opacity: 1 !important;
      overflow: hidden !important;

    }

    .fancybox-inner {
      overflow: auto !important;
      height: auto !important;
      background: $white;
    }

    .fancybox-opened {
      z-index: 8030;
      /*box-shadow: 0 2px 8px rgba(0, 0, 0, .33);*/
    }

    .modal-container {
      width: 100%;
      height: auto;
    }

    .fancybox-skin {
      padding: 200px;
      width: auto;
      height: auto;
    }

    .bottom-padding {
      padding-bottom: 150px !important;
    }

    .fancybox-outer {
      overflow-y: auto;
    }

    #add_cart_noti {
      overflow: hidden;
      display: block;
      margin: auto;
      font-size: 15px;

      .price {
        font-size: 18px;
        color: $primary;
        font-weight: 500;
      }

    }

    .lightbox-holder {
      @extend #add_cart_noti;
      width: auto !important;
      padding: 11px 10px 0 !important;
      line-height: 1.33;
      color: $theme-colors-dark;
      font-weight: 300;
      background-color: $white;


      &.span {
        font-weight: 500;
      }
    }

    .lighbox-title {
      color: $secondary;
      font-weight: 700;
      text-align: left;
      font-size: 24px;
      margin: 8px 12px 19px;
      text-transform: uppercase;
    }

    .fixed-height {
      display: flex;
      min-height: 200px;
      max-height: 200px;

      @include media-breakpoint-down (md) {
        min-height: 230px;
        max-height: 230px;
      }
    }

    .image-holder {
      max-height: 110px;
      min-height: 110px;

      img {
        max-height: 200px;
        max-width: 100%;
      }

      @include media-breakpoint-down(md) {
        max-height: 100%;
        min-height: 100%;
        overflow: visible;
      }
    }

    .margin-top-10 {
      margin-top: -15px;

      .p {
        margin: 0 0 20px;
      }

      @include media-breakpoint-down(md) {
        margin-top: 10px;
        margin-left: 2rem;
      }
    }

    .product-heading {
      color: $secondary;
      display: block;
      font-size: 20px;
      font-weight: 700;
      padding: 1rem 0;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        font-size: 16px;
        padding: 0;
      }

    }

    .btn-holder {
      .col-1 {
        flex: 0 0 6.33333%;
        max-width: 6.33333%;
      }

      padding-bottom: 15px;

      .btn {
        margin: 0;

        @include media-breakpoint-down(md) {
          font-size: 14px;
        }

        @include media-breakpoint-down(xs) {
          font-size: 11px;
          padding: 1rem 0;
        }
      }

      @include media-breakpoint-down(md) {
        margin-top: -20px;
      }
    }

    &.small-fancybox {

      width: 100% !important;
      top: 14rem !important;
      right: 0px !important;
      left: 0px !important;

      @media (min-width: 768px) {
        width: 70% !important;
        top: 15rem !important;
        right: 0px !important;
        left: 30% !important;
      }

      @media (min-width: 920px) {
        width: 50% !important;
        top: 16rem !important;
        right: 0px !important;
        left: 50% !important;
      }
    }


  }

  #delivery-min-warning {
    margin: rem-calc(0 -15px 20px);
    padding: rem-calc(8px 30px);
    background-color: rgba($gray-400, .25);
    text-align: left;
    font-size: 1.4rem;
    @include media ('>=sm-phone') {
      margin: rem-calc(0 -30px 20px);
    }
    @include media ('<=sm-phone') {
      padding: rem-calc(8px 15px);
    }
    .badge {
      position: static;
      top: unset;
      left: unset;
      margin-right: 1rem;
    }
    p{
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    a {
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
}

