/* age-gate styles */
#age-gate-component{
  //min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.875rem 0;
  color: #202020;
  font-weight: 400;
  font-size: 1rem;
  @include media-breakpoint-up(lg) { margin-top: 0rem!important;}
  @media (min-width: 1025px){min-height: 100vh;}
  @media (min-width: 992px) and (max-width: 1025px) {
    background-image: url(/static/images/coors/agegate/AV_Mobile.png)!important;  
  }
  @include media-breakpoint-only(md) { 
    //background-image: url(/static/images/coors/agegate/AV_Mobile.png)!important;
    background-position: bottom!important;}
  @include media-breakpoint-up (xs) {margin-top: -4rem;}
  .age-gate-footer {
    #footer {
      background-color: #e7e7e7;
    }
  }
.age-gate {
  @import "../age-gate-widget-variables";
  $submit-button-activeBackgroundColor: null !default;
  $submit-button-activeBorderColor: null !default;
  $submit-button-activeColor: null !default;
  $submit-button-backgroundColor: #ff0d15 !default;
  $submit-button-borderColor: #ff0d15 !default;
  $submit-button-color: null !default;
  $submit-button-hoverBackgroundColor: null !default;
  $submit-button-hoverBorderColor: null !default;
  $submit-button-hoverColor: null !default;

  .btn {
    @include custom-button-variant($submit-button-activeBackgroundColor,
    $submit-button-activeBorderColor,
    $submit-button-activeColor,
    $submit-button-backgroundColor,
    $submit-button-borderColor,
    $submit-button-color,
    $submit-button-hoverBackgroundColor,
    $submit-button-hoverBorderColor,
    $submit-button-hoverColor);

  }
  .btn.disabled{
    background-color:#ff0d15 !important;
  border-color:#ff0d15 !important;
  opacity:100 !important;
  }

  // padding: 0 5.25rem;
  position: relative;
  display: flex;
  // max-width:1140px;


  &:after {
    content: '';
    display: block;
    width: 0;
    min-height: 89vh;
  }

  .age-logo {
    display: block;
    width: 14rem;
    margin: 0 auto 4rem;

    @include media-breakpoint-up (md) {
      margin-bottom: 5rem;
      width: 19.5rem;
    }

    @include media-breakpoint-up (lg) {
      margin-bottom: 5.2rem;
    }

    a {
      display: block;
    }

    img {
      width: 100%;
    }
  }

  h5 {
    text-transform: none;
    color: #000000;
    font-size: 3.5rem;
  }

  h1 {
    color: $blue-700;
    font-weight: 700;
    letter-spacing: .382rem;
    text-transform: uppercase;
    margin-bottom: 3.7rem;

    @include media-breakpoint-up (md) {
      letter-spacing: .6rem;
      margin-bottom: 6rem;
    }

    @include media-breakpoint-up (lg) {
      margin-bottom: 5.7rem;
    }
  }

  .age-date {
    color: #002855;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: .267rem;
    display: block;
    margin-bottom: 3rem;

    @include media-breakpoint-up (md) {
      font-size: 1.8rem;
      line-height: 2.5rem;
      letter-spacing: .4rem;
      margin-bottom: 1.9rem;
    }
  }

  form {
    margin-bottom: 8rem;
    @include media-breakpoint-down(sm) {
      margin-bottom: 0rem;
    }
    @include media-breakpoint-up (md) {
      margin-bottom: 4.2rem;
    }

    @include media-breakpoint-up (lg) {
      margin-bottom: 4.6rem;
    }
  }



  .age-form {
    max-width: 31.5rem;

    @include media-breakpoint-up (md) {
      margin-bottom: 4.7rem;
    }

    @include media-breakpoint-up (lg) {
      margin-bottom: 4.9rem;
    }

    input[type="text"],
    input[type="tel"] {
      @include size(33%, 6.9rem);

      text-align: center;
      background-color: theme-color("primary");
      color: $white;
      font-size: 2.5rem;
      line-height: 6.9rem;
      padding: 0 .5rem;
      font-weight: 700;
      text-transform: uppercase;
      font-style: normal;

      &:not(.is-invalid) {
        border: .2rem solid $white;
        border-left: 0;

      }

      @include placeholder {
        color: $white;
      }
    }


    input[type="submit"] {
      width: 50%;
      font-size: 1.7rem;
      line-height: 2.7rem;
      padding: .5rem .9375rem;
      min-width: 9.75rem;
      min-height: 3.8rem;

      @include media-breakpoint-up (lg) {
        font-size: 1.7rem;
        line-height: 2.5rem;
      }
    }
  }

  .container{

    @include media-breakpoint-up (md){
      padding-top:12.7rem;
      // padding-left:10.5rem;
      // margin-left: 0;
      max-width: 960px;
    }

    @include media-breakpoint-up (xs) {
      max-width: 742px;
    }

    @include media-breakpoint-up (xs) {
      padding-top: 6rem;
      max-width: 540px;
      // padding-left: 0rem;
      // margin-left: -4rem;
    }




  }
  .birthdate-error-msg{
    color:#ff0d15;
    font-size: 1.6rem;
  }

  .age-form2 {
    max-width: 39rem;
    &.fail{
      max-width: 75rem;
      h5{
        @include media-breakpoint-up (xs) {
          line-height: unset;
          font-size: 1rem;
          margin-top: 4.5rem !important;
        }

        @include media-breakpoint-up (md) {
          line-height: 0.1;
        }

      }
      h1{


      @include media-breakpoint-up (xs) {
        font-size: 2rem !important;
        min-width: 35rem !important;

      }
      @include media-breakpoint-up(md){
        font-size: 3.5rem !important;
        min-width: 60rem !important;
        max-width: 60rem;
      }
      }

    }
    font-size: 3.5rem;

    @include media-breakpoint-up (md) {
      margin-bottom: 4.7rem;
    }

    @include media-breakpoint-up (lg) {
      margin-bottom: 4.9rem;
    }

    h5{
      font-size: 1.7rem;
      font-weight: 300;

      @include media-breakpoint-up (xs) {
        line-height: unset;

      }

      @include media-breakpoint-up (md) {
        line-height: 0.1;
      }


    }


    p {
      font-size: 1.85rem;

    }
    h1{
      max-width: 75rem;
      font-size: 3.7rem;
      min-width: 60rem;
    letter-spacing: 0.15rem;
    @include media-breakpoint-up(xs){
      min-width: 20rem;
      max-width: 35rem;
    }
    }
    img{
      max-height: 2rem;
    }

    .error-mesg{
      color: #ff0d15;
    }

    a {
      color: $black;
      text-decoration: underline;

    }

    input[type="text"],
    input[type="tel"] {
      text-align: justify;
      background-color: transparent;
      color: #999;
      font-size: 1.7rem;
      line-height: 2rem;
      height:6rem;
      padding: 0;
      font-weight: 400;
      text-transform: uppercase;
      font-style: normal;
      padding-bottom: 0;
      padding-top: 1.5rem;

      &:not(.is-invalid) {
        border-bottom: .1rem solid $black;
        border-left: none;
        border-right: none;
        border-top: none;
        margin-right: 3rem;

      }

      @include placeholder {
        color: #9a9a9a;
        font-style: normal;
      }
    }




    input[type="submit"] {
      width: 50%;
      font-size: 1.7rem;
      line-height: 2.7rem;
      padding: .5rem;


      @include media-breakpoint-up (lg) {
        font-size: 1rem;
        line-height: 2.5rem;
      }
    }

    .fbLogoContainer {
      img {
        margin-bottom: .3em;
        height: 1.8rem;
      }
    }
  }

  .inputs-wrap {
    display: flex;
    align-content: left;
    margin-bottom: 4.1rem;
    font-size: 1.9rem;

    @include media-breakpoint-up (md) {
      margin-bottom: 0.7rem;
    }
  }

  .politic,
  .copy {
    display: block;
    margin-bottom: 1rem;
    color: #48484a;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;

    @include media-breakpoint-up (md) {
      margin-bottom: 2rem;
    }

    a {
      text-decoration: underline;
    }
  }

  .footer-menu {
    display: block;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: none;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    float: none;
    display: inline-table;
    color: $white;
    margin: 0 20px 0 0;
    padding: 0;

    li {
      float: left;
      padding: 0;
      line-height: 34px;
      padding: 20px 10px;
      text-align: center;

      a {
        color: white;
      }
    }

    img {
      border-top-width: 0;
      border-right-width: 0;
      border-bottom-width: 0;
      border-left-width: 0;
      border-top-style: none;
      border-right-style: none;
      border-bottom-style: none;
      border-left-style: none;
      border-top-color: initial;
      border-right-color: initial;
      border-bottom-color: initial;
      border-left-color: initial;
      border-image-source: none;
      border-image-slice: 100%;
      border-image-width: 1;
      border-image-outset: 0s;
      border-image-repeat: initial;
      vertical-align: middle;
      display: inline;
      max-height: 28px;
      opacity: .8;
    }
  }
  .age-form2.fbLogo{
    max-width: 12rem !important;
  }
}
@include media-breakpoint-down(sm) {
  #age-gatehead2{
    margin: 0px 0px 1rem!important;
  }
 }
}
