.articles-holder {
  margin-bottom: rem-calc(28px);

  @include media ('>=tablet') {
    padding: rem-calc(0 17px);
    margin-bottom: rem-calc(33px);
  }

  @include media ('>=widescreen') {
    margin-bottom: rem-calc(50px);
  }

  .column {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: rem-calc(10px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media ('>=tablet') {
      padding: rem-calc(17px 17px 0px);
    }

    @include media ('>=widescreen') {
      padding: rem-calc(17px 38px 68px 24px);
    }
    @media (min-width: 1900px) {
      padding: rem-calc(57px 38px 128px 24px);
    }
    .title-holder {
      @include v-align(226px, bottom);

      text-align: left;
      text-transform: capitalize;

      &:after {
        @include media ('>=phone') {
          min-height: rem-calc(260px);
        }

        @include media ('>=desktop') {
          min-height: rem-calc(390px);
        }
      }
    }

    .h2 {
      border-top: 2px solid rgba($white, .5);
      color: $white;
      font-size: rem-calc(18px);
      font-weight: 800;
      margin-bottom: 0;
      padding: rem-calc(7px 22px 7px 0);
      text-transform: capitalize;

      @include media ('>=tablet') {
        font-size: rem-calc(26px);
        padding: rem-calc(10px 0 7px);
        line-height: 1;
      }

      @include media ('>=desktop') {
        min-height: rem-calc(71px);
      }

      @include media ('>=widescreen') {
        font-size: rem-calc(38px);
        min-height: rem-calc(100px);
        padding: rem-calc(10px 60px 7px 0);
        line-height: 1.2;
      }
    }

    .arrow {
      @include animate(background-color);

      position: absolute;
      right: rem-calc(6px);
      bottom: rem-calc(19px);
      width: rem-calc(23px);
      height: rem-calc(23px);
      background-color: #fefefe;
      border-radius: 50%;
      text-decoration: none;

      @include media ('>=tablet') {
        right: rem-calc(14px);
        bottom: rem-calc(7px);
        width: rem-calc(31px);
        height: rem-calc(31px);
      }

      @include media ('>=widescreen') {
        right: rem-calc(38px);
        bottom: rem-calc(28px);
        width: rem-calc(50px);
        height: rem-calc(50px);
      }

      &:before {
        @include animate(color);

        content: '\E904';
        font-family: icomoon;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #606060;
        font-size: rem-calc(10px);

        @include media ('>=tablet') {
          font-size: rem-calc(12px);
        }
      }

      &:hover {
        background-color: #606060;

        &:before {
          color: #fefefe;
        }
      }
    }
  }
}
