.aside-section {
  padding: rem-calc(20px 0 9px);
  color: $gray-700;
  font-size: rem-calc(12px);
  background-color: $gray-300;

  h1 {
    margin-bottom: rem-calc(10px);
    color: $red;
    font-size: rem-calc(16px);
  }
  p {
    font-weight: 800 !important;
  }
  .logo {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: rem-calc(5px);

    //@include media ('>=tablet') {
    //  margin-bottom: rem-calc(11px);
    //}
  }
.slogan {
  display: inline;
}
}
