.carousel {
	color: $white;
	font-size: 1.6rem;
	line-height: 2.7rem;

	@include media-breakpoint-up (md) {
		margin-bottom: 1.1rem;
	}

	@include media-breakpoint-up (lg) {
		margin-bottom: 0;
	}
	a,
  .btn{
		position: relative;
	}
	.link-video {
		position: relative;
		color: $white;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 2rem;
		line-height: 1;
		background-color: $gray-1000;
		border-color: $gray-1000;
		text-shadow: 0 0 10px $black;
		margin-top: 11rem;

		@include media-breakpoint-up (md) {
			font-size: 2.5rem;
		}

		&:focus,
		&:hover {
			outline: none;
			text-decoration: underline;
			background-color: $gray-1000-hover;
			border-color: $gray-1000-hover;
			-moz-transition: background-color 1s ease-out;

		}
	}

	.description {
		padding: 0 1.5rem;
		font-size: $carousel-description-font-size;

		@include media-breakpoint-up (md) {
			padding: 0 8rem;
		}

		@include media-breakpoint-up (lg) {
			padding: 0 8rem;
		}
	}

	h2,
	.h2 {
		margin: 0 0 1.9rem;
		font-size: $carousel-heading-font-size;
		line-height: 4.6rem;
		position: relative;

		@include media-breakpoint-up (lg) {
			margin: 0 0 1.6rem;
		}
	}

	p {
		position: relative;
		@include media-breakpoint-up (md) {
			margin: 0 0 3.5rem;
		}

		@include media-breakpoint-up (lg) {
			margin: 0 0 6.2rem;
		}
	}
}

.carousel-slider {
	margin: 0 -1.3rem;

	@include media-breakpoint-up (md) {
		margin: 0;
	}

	&.slick-dotted {
		margin-bottom: 0;
	}

	.slide {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		display: flex;
		justify-content: center;
		padding: 0;

		@include media-breakpoint-up (md) {
			align-items: center;
			padding: 0;
		}

		@include media-breakpoint-up (lg) {
			padding: 0;
		}

		&:after {
			content: '';
			width: 0;
			display: block;
			min-height: 15rem;

			@include media-breakpoint-up (lg) {
				min-height: 31.7rem;
			}
		}

	}

	.container {
		margin: 0;
	}

	.slick-arrow {
		@include media-breakpoint-down (sm) {
			display: none !important;
		}
	}
}

.slick-dots {
	position: absolute;
	bottom: 1.1rem;
	left: 1.2rem;
	right: 1.2rem;
	z-index: 2;

	@include media-breakpoint-down(md) {
		left: 0%;
		right: 0;
	}

	@include media-breakpoint-up (md) {
		bottom: 2.3rem;
	}

	@include media-breakpoint-up (lg) {
		bottom: 3.6rem;
	}

	li {
		@include size(1.3rem);

		margin: 0 .2rem;

		&.slick-active {
			button {
				background: $carousel-dots-activeBackgroundColor;
			}
		}

		button {
			@include size(1.3rem);
			@include animate(background border-width);

			background: $carousel-dots-backgroundColor;
			border: 2px solid $carousel-dots-borderColor;
			border-radius: 50%;
			padding: 0;
			margin: 0;
			box-sizing: border-box;

			&:before {
				display: none;
			}

			&:hover {
				background: rgba(#9B9B9B, .8);
			}
		}
	}
}

.slick-arrow {
	@include size(4rem);
	@include animate(background);

	z-index: 2;
	background: $carousel-arrow-backgroundColor;
	color: $carousel-arrow-color;
	border-radius: 50%;

	&:focus,
	&:hover {
		background: $carousel-arrow-hoverBackgroundColor;
		color: $carousel-arrow-hoverColor;
	}

	&:before {
		display: none;
	}

	[class*="icon-"] {
		&:before {
			display: block;
			font-size: 1rem;
			line-height: 1;
			display: inline-block;
			vertical-align: top;
		}
	}

	&.slick-next {
		right: 2.4rem;

		[class*="icon-"] {
			margin-left: .3rem;
		}
	}

	&.slick-prev {
		left: 2.4rem;
	}
}

.height-getter {
	h1 {
		position: relative;
		top: 0;
	}

	.btn {
		position: relative;
		margin-top: 0%;

		@include media-breakpoint-down(md) {
			margin-top: 8rem;
			font-size: 14px;
		}
	}
}
