#cart_widget.cart-widget {
  .items-list {
    .text-holder {
      padding-right: 0;
      .details {
        strong{
          display: block;
          padding: 0px 0px 1rem 0px !important;
        }
         dt {
           color: #3e3c3c;
           font-size: 1.3rem;
         }
        .price {
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
    }
    .item-block+.item-block {
      border-top: 1px solid #dee2e6;
      }
  }
  .decorated-title {
    border-bottom: 1.5px solid #c1c1c1;
  }
  .eta-box {
    border-bottom: 1.5px solid #c1c1c1;
    font-size: 18px;
    padding-bottom: 1rem;
    //color: $theme-colors-dark;
    color: #6A6A6A;
    font-weight: 500;
    letter-spacing: 0.2px;
  }
}
