#checkBoxWidget{
    .news-letter-popup{
        color: $white;
        background: $blue;
    }
    .lightbox-holder{
        @extend .news-letter-popup
       
    }
    .lighbox-title{
        color: $white;
        text-transform: uppercase;
        font-size: 28px;
        line-height: 1.2;
    }
    .ng-binding{
        margin: 0 0 15px;  
    }
   
   .btn-secondary{
       width: 45%;
   } 
}
