/* loding animation */

.loading_animation_margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*.load_group{
 margin-top: $marginTop;
 margin-bottom: $marginBottom;
 } */
.loading_animation_box {
  /*margin: 0 auto;*/
  height: 80px;
  width: 80px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $loading-circle-backgroundColor;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -khtml-border-radius: 100%;
  overflow: hidden;


  .loading_animation_percent {
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 64px;
  }

  .loading_animation_water {
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    background: $loading-circle-waterFColor;

    &_wave {
      width: 200%;
      position: absolute;
      bottom: 100%;

      &_back {
        right: 0;
        fill: $loading-circle-waterBColor;
        animation: wave-back 1.4s infinite linear;
      }

      &_front {
        left: 0;
        margin-bottom: -1px;
        animation: wave-front 0.7s infinite linear;
        fill: $loading-circle-waterFColor;
      }
    }
  }
}

@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}