.coupen-page {

  .email-form {

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
      width: 70%;
      height: 50px;
      display: initial;

    }

  }
  @media (max-width: 767px){
    #change-address-btn, #same-day-delivery, #shop-local-store{
        font-size: small;
  }
  }
  @media (max-width: 767px) {
    .title-address{
      font-size: 23px!important;
    }
    .info-text{
    color: #4a4a4a;
    font-size: 17px!important;
  }
  }
  .info-text{
    color: #4a4a4a;
    font-size: 23px;
  }
  .title-address{
    font-size: 29px;
  }
  #title-setlocation {
    display: inline-block;
  }
  #title-setlocation:after {
    content: '';
    display: block;
    border-top: 1.8px solid #9ba0a2;
    margin-top: 0.5em;
  }

}
