   #deliveryAddressPage,
   #edit-deliveryAddressPage,
   #guestAddressPage {
    color: #3a3738;
     .container {
       padding-top: 15px;
     }
    .btn.btn-link {
      color: $primary;
      text-decoration: underline !important;
    }
    .delivery-address-subtext{
      font-weight: 600;
        font-size: 17px;
        text-transform: capitalize;
    }
    .address-edit{
      text-decoration: underline;
    }
     .jcf-radio{
          height: 24px;
          width: 24px;
          border-radius: 13px;
        }
        .card-top{
              margin-top: -20px;
        }
          .cut-text{
        text-overflow: ellipsis;
        overflow: hidden;
        /* height: 1.2em; */
        white-space: nowrap;
            @media (max-width: 767px) {
              width: 248px;
        }
            @media (min-width: 768px) and (max-width: 991.9px) {
              width: 370px;
            }
        }
  }
#RegisterForm {

  position: relative;

  .padding-top-container {
    padding-top: 160px;
  }

  .checkout-form {
    max-width: none;
  }

  .checkout-item {
    #delivery-checkbox {
      padding-left: 10px;
    }
    #delivery-note {
      height: 10rem;
      padding-left: 15px;
      margin-bottom: 3px;
      resize: none;
    }
    #errormessage {
      color: $red;
      //font-size: 13px;
      font-size: 1.5rem;
    }
    .checkout-title {
      position: relative;
    }

    .overflow-form {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 350px;
    }


    .form-control,
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="search"],
    input[type="password"],
    textarea {
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      box-shadow: none !important;
      font-size: 17px;
      letter-spacing: .4px;
      padding: 8px 5px 4px;
      line-height: normal;
    }

    .btn-wrap {
      margin-bottom: 2rem;
    }

    /*--right widget--*/

    .cart-widget {
      padding: 0px 11px 0 !important;
      color: $secondary;

      .decorated-title {
        padding: 1rem 1rem !important;
        margin: 0rem 0 2rem !important;
        font-weight: 700 !important;
      }
    }

    .item-block {

      .img-holder {
        height: 90px !important;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 15px;
      }

      dt {
        width: 70%;
        float: left;
      }

      dd {
        width: 30%;
        float: left;
      }

      .price {
        text-align: left;
        position: static;
        color: $blue;
        line-height: inherit;
        font-weight: 700;
      }


    }


    @include media-breakpoint-up (lg) {
      #DeliveryAddress-subtext1,#DeliveryAddress-subtext,#DeliveryAddress-phone,.overflow-form{
        width: 525px;
      }
    }

    @include media-breakpoint-up (md) {
      .checkout-form {
        margin: 0 0 11px;
      }
    }

    @include media-breakpoint-up (xs) {
      .d-block {
        margin-bottom: 2rem;
      }
    }


  }

  .text-link {
    text-decoration: underline;
    cursor: pointer;
  }
}
