 /* filters-slide styles */
.filters-slide {
	@include animate(opacity transform);

	background: $gray-100;
	position: absolute;
	transform: translateX(-100%);
	opacity: 0;
	width: 100%;
	top: 6.7rem;
	bottom: 0;
	z-index: 6;
	padding: 0;

	@include media-breakpoint-down (sm) {
		height: calc(100vh - 3.8rem);
		overflow: hidden;
		overflow-y: hidden;
	}

	@include media-breakpoint-up (md) {
		width: 38rem;
		top: 15.2rem;
		bottom: 0;
	}

  h1 {
    color: $gray-600;
    letter-spacing: .7px;
    text-align: center;
    font-size: rem-calc(28px);
  }
	.filter-slide-active & {
		transform: translateX(0);
		opacity: 1;
	}

	.holder {
		//height: 100%;
		background: $gray-100;
    @media(max-width: 800px) and (orientation: landscape) {
      padding: 1rem 3.9rem 1rem 6rem;
    }
		padding: 8rem 3.9rem 2rem 6rem;

    @media (min-width: 320px) and (max-width: 374px) {
        padding: 5rem 3.9rem 2rem 2rem;
    }
    @media (min-width: 360px) and (max-width: 415px) {
      padding: 1rem 3.9rem .5rem 3rem;
    }
    @media (max-width: 320px) {
      padding: 1rem 3.9rem .5rem 4rem;
    }
		@include media-breakpoint-up (md) {
      height: 100%;
			padding: 2.5rem 1rem 2.5rem 2.5rem;
		}
    @include media-breakpoint-up (lg) {
			padding: 3.5rem 2rem 2.5rem 2.8rem;
		}
    @media (min-width: 992px) and (max-width: 1024px) {
      padding: 3rem 2.8rem 0.5rem 3rem;
    }
    .close {
      font-size: 2rem;
    }
	}

	.slide-content {
		overflow-y: auto;
		overflow-x: hidden;
		height: 100%;
    //@include media-breakpoint-up (md) {
      .filter-list {
        @media(max-width: 800px) and (orientation: landscape) {
          max-height: 38vh;
          height: 36vh;
        }
        height: calc(100vh - 30rem);
        max-height: calc(100vh - 32rem);
        overflow-y: scroll;
				overflow-x: hidden;
				@media (min-width: 360px) and (max-width: 415px) {padding-right: 10px;}
        @media (min-height: 728px) and (max-height: 728px){
          height: calc(100vh - 36rem);
          max-height: calc(100vh - 36rem);
				}
				@media (min-height: 679px) and (max-height: 679px){
/* 					height: calc(100vh - 40rem);
					max-height: calc(100vh - 40rem); */
					height: calc(100vh - 41rem);
					max-height: calc(100vh - 41rem);
				}
        @media (min-height: 922px) and (max-height: 1088px) {
          height: calc(100vh - 37rem);
          max-height: calc(100vh - 37rem);
				}
				@media (min-height: 1159px) {
        /*   height: calc(100vh - 38rem);
					max-height: calc(100vh - 38rem); */
					height: calc(100vh - 39rem);
          max-height: calc(100vh - 39rem);
        }
        @media (min-height: 1264px) {
         /*  height: calc(100vh - 36rem);
					max-height: calc(100vh - 36rem); */
					height: calc(100vh - 37rem);
          max-height: calc(100vh - 37rem);
        }
        //&::-webkit-scrollbar {
        //  //width: 5px;  /* remove scrollbar space */
        //  //background: transparent;
        //  padding-left: .5rem;
        //}
      }
    &.ios-only {
      .filter-list {
            height: calc(100vh - 33rem);
            max-height: calc(100vh - 33rem);
          }
    }
    //}
	}

	/* &:after,
	&:before {
		@include media-breakpoint-up (md) {
			bottom: .42rem;
			content: "";
			position: absolute;
			width: 50%;
			height: 2rem;
			z-index: -10;
			opacity: .4;
		}
	} */

	&:before {
		left: -.4rem;
		transform: rotate(-3deg);
		box-shadow: 7px 7px 10px #333;
	}

	&:after {
		right: -.4rem;
		transform: rotate(3deg);
		box-shadow: -7px 7px 10px #333;
	}

	.jcf-select {
		margin: 0 0 2.5rem;
	}
	&.left-aligned-filter {
		left: 0;
		top: 11.6rem;
		position: fixed;
		@include media('>=tablet'){
			min-height: calc(100vh - 12rem);
		}
		@include media ('>=widescreen') {
		top: 11.3rem;
		}
		@include media('>=1000px'){
			// top: -4rem;
			min-height: calc(100vh - 8rem);
		}
		@include media-breakpoint-down(sm) {
      height: auto;
		position: fixed;
		top: 116px;
		}

	}
/* 	&.left-aligned-filter {
	  left: 0;
		top: -5.5rem;
		@include media ('>=desktop') {
			top: -2.9rem;
		}
		@include media('>=1000px'){
			top: -4rem;
		}
    @include media-breakpoint-down(md) {
      // top: -10rem;
    }
    @include media-breakpoint-down(sm) {
      // position: absolute;
      // top: 0;
    }
    //  bottom: 0;
    //  position: fixed;
    //  top: 15.2rem
    //}
	} */

	&.right-aligned-filter {
	  right: 0;
		top: 0;
	}
}

/* filter btn-panel styles */
.btn-panel {
	@extend %listreset;

	//position: fixed;
  position: absolute;
  bottom: 0;
	left: 0;
	right: 0;
	//bottom: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: $gray-100;
	box-shadow: 0 -1px 8px rgba($black, 0.31);
	padding: .8rem;
	margin: 0 -.4rem;

	li {
		padding: .2rem .4rem 0;
		width: 50%;
    .btn {
      color: #fff;
      &.btn-secondary {
        color: #D00A11;
      }
    }
	}

	.btn {
		padding: 1.4rem .5rem;
		width: 100%;

		&:after,
		&:before {
			display: none;
		}
	}
}

#main {
	&:before {
		@include animate(opacity visibility);

		content: '';
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background: rgba(74, 74, 74, .5);
		z-index: 5;
		opacity: 0;
		visibility: hidden;

		.filter-slide-active:not(.fixed-filter-slide-active) & {
			opacity: 1;
			visibility: visible;
		}
	}
}

.filter-block {
	color: $gray-800;
	margin: 0 0 3rem;

	.block-title,
	.subtitle {
		display: block;
	}

	.block-title {
		color: $red;
		margin: 0 0 1rem;
		font: 900 2.2rem/2.3rem $font-family-brandon;
	}

	.subtitle {
		margin: 0 0 1rem;
    font-weight: 500;
	}

	.checkbox {
		margin: 0 0 .8rem;
		display: block;
	}

	.filter-opener {
		display: inline-block;
		vertical-align: top;
		margin: .3rem 0 0;
    text-decoration: underline;
	}

	.filters-form-check{
		list-style: none;
		padding-left: 0;
		margin-bottom: 0.1rem;
	}

  .title-box {
    display: flex;
    justify-content: space-between;
  }

  .jcf-disabled + span.fake-label {
    color: #aaa7a7;
  }
}

.slide-opener {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 0 1.5rem 0 0;
  margin: 0 0 0 0;
	text-decoration: underline;
  font-size: 2rem;
  outline: none;
	@include media-breakpoint-up (lg) {
		margin: 0 0 0 0;
	}

	&:before {
		@extend %icon;

		content: $icon-arrow-d;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%) rotate(-90deg);
		font-size: 1.5rem;
	}
}
.filter-pannel-adjustments{
	margin-top: -3em;
	position: absolute;
	@include media('>=tablet'){
		margin-top: -4em;
	}
	@include media('>=1000px'){
		margin-top: -3.5em;
	}
  @include media-breakpoint-down(sm){
    margin-top: -6.4rem;
  }
}
.clear-all{
	margin-bottom: 1rem;
	display: block;
	width: 100px;
}
.text-align-left{
	text-align: left!important;
	margin-bottom: 1rem !important;
}