/* filter-panel styles */
.filter-panel {
	padding: 1rem 3.2rem 1.8rem;
	margin: 0 -1.3rem;
	position: relative;

	@include media-breakpoint-up (md) {
		padding: 1rem 4rem 1rem 3.2rem;
		margin: 0 0 2rem;
	}

	@include media-breakpoint-up (lg) {
		padding: .8rem 3.2rem 1.6rem;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: linear-gradient(270deg, #eeeeee 0%, #ffffff 48%, #ffffff 49%, #d8d8d8 100%);
		opacity: 0.48;
	}

	.select-wrap {
		@include media-breakpoint-up (lg) {
			margin: 0 0 -.9rem;
			padding: .9rem 0 0;
		}
	}

	.jcf-select {
		max-width: 18.2rem;
	}


	.powered-block {
		min-width: 135px;
		@include media-breakpoint-up (md) {
			padding: 0 1.8rem;
			min-width: 21rem;
		}

		@include media-breakpoint-up (lg) {
		min-width: 22.5rem;
	}
	}
}

/* powered-block styles */

.powered-section {
	padding: 1.2rem 0 1.9rem;
	background: linear-gradient(to right, rgba(237,237,237,1) 0%, rgba(247,247,247,1) 100%);

	&:first-child {
		margin: -1.9rem 0 -.3rem;

		@include media-breakpoint-up (md) {
			margin: -3.3rem 0 -.3rem;
			padding: 2.4rem 0 1.1rem;
		}
	}

	&:last-child{
		@include media-breakpoint-up (md) {
			margin-bottom: -3.8rem;
		}
	}

	.powered-block {
		.holder {
			margin: 0 1.1rem 0 0;
		}

		.subtitle {
			margin: 0 0 .1rem;
		}
	}
}

.powered-block {
	letter-spacing: -4px;
	font-size: 1.1rem;

	.subtitle,
	.block-title {
		display: block;
	}

	.subtitle {
		margin: 0 0 .6rem;
	}

	.holder {
		display: inline-block;
		vertical-align: top;
		margin: 0 -.1rem 0 0;
		letter-spacing: 0;
	}

	.link {
		display: inline-block;
		vertical-align: bottom;
		letter-spacing: 0;
		text-decoration: underline;
		font-size: 1.1rem;
		line-height: 1.6rem;
		padding: 0 0 0 1.5rem;
	}
}

/* info-circle styles */

.hover-tooltip {
	background: $white;
	border: 1px solid $gray-400;
	padding: 1rem;
	max-width: 15rem;
}
