.form-control {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1rem;
  padding: 1.2rem 1.5rem;
  -webkit-appearance: none;
  color: #545454;

  @include media-breakpoint-up (md) {
    padding: 1.2rem 1.9rem;
  }

  &:focus {
    z-index: auto !important;
  }
  &::-ms-clear { display: none; }
  &::placeholder {
    font-style: italic;
  }
}

.checkbox {
  margin: 0;
  color: $gray-800;
  line-height: 2.4rem;
}

.invalid-feedback {
  text-align: left;
  font-size: 1.5rem;
}
