#carousel-two {
  .intro-carousel {
    position: relative;

    h1 {
      font-size: rem-calc(30px);

      @include media ('>=tablet') {
        max-width: rem-calc(400px);
        line-height: 1.5;
      }

      @include media ('>=desktop') {
        max-width: rem-calc(480px);
        font-size: rem-calc(38px);
        line-height: 1.1;
      }
    }

    .slide {
      @include v-align(10.625rem);

      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      //&:after {
      //  @include media ('>=phone') {
      //    min-height: rem-calc(270px);
      //  }
      //
      //  @include media ('>=desktop') {
      //    min-height: rem-calc(444px);
      //  }
      //}
    }

    .text-box {
      max-width: rem-calc(300px);
      width: 100%;
      text-align: left;

      @include media ('>=phone') {
        max-width: rem-calc(591px);
        padding: rem-calc(75px 0 35px);
      }

      @include media ('>=widescreen') {
        max-width: rem-calc(820px);
        padding: rem-calc(51px 0 60px);
      }
    }

    .subtitle {
      display: block;
      color: $red;
      text-transform: capitalize;
      border-bottom: 1px solid $gray-700;
      font-size: rem-calc(18px);
      font-weight: 500;

      @include media ('>=tablet') {
        font-size: rem-calc(24px);
        padding-bottom: rem-calc(19px);
        margin-bottom: rem-calc(13px);
      }

      @include media ('>=widescreen') {
        font-size: rem-calc(24px);
        margin-bottom: rem-calc(15px);
      }
    }
  }

  .slick-arrow {
    @include animate(background-color);

    display: none !important;

    @include media ('>=tablet') {
      display: block !important;
      position: absolute;
      top: 50%;
      right: rem-calc(24px);
      transform: translateY(-50%);
      border-radius: 50%;
      width: rem-calc(24px);
      height: rem-calc(24px);
      //background-color: rgba($gray-600, .5);
      background: transparent;
      font-size: 0;
      border: none;
      padding: 0;
      z-index: 1;
      cursor: pointer;
    }

    @include media ('>=desktop') {
      width: rem-calc(40px);
      height: rem-calc(40px);
    }

    &:after {
      @include animate(color);

      content: '\e904';
      font-family: icomoon;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $gray-700;
      font-size: rem-calc(10px);

      @include media ('>=widescreen') {
        font-size: rem-calc(10px);
      }
    }

    &:hover {
      //background-color: $gray-300;
      background: transparent;
      &:after {
        color: $white;
      }
    }
  }

  .slick-prev {
    right: auto;
    left: rem-calc(24px);

    &:after {
      content: '\e905';
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 1.1rem;
    left: 1.2rem;
    right: 1.2rem;
    z-index: 2;

    @include media-breakpoint-down(md) {
      left: 0%;
      right: 0;
    }

    @include media-breakpoint-up (md) {
      bottom: 2.3rem;
    }

    @include media-breakpoint-up (lg) {
      bottom: 3.6rem;
    }

    li {
      @include size(1.3rem);

      margin: 0 .2rem;

      &.slick-active {
        button {
          background: $carousel-dots-activeBackgroundColor;
        }
      }

      button {
        @include size(1.3rem);
        @include animate(background border-width);

        background: $carousel-dots-backgroundColor;
        border: 2px solid $carousel-dots-borderColor;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;

        &:before {
          display: none;
        }

        &:hover {
          background: rgba(#9B9B9B, .8);
        }
      }
    }
  }

  .slick-dotted {
    &.slick-slider {
      margin-bottom: 0px;
    }
  }
}
