
//vue minusplus plugin styles
.int-pm .int-pm-value {
  width: 40%;
  padding-top: 4px!important;
}

.int-pm .int-pm-btn {
  background-color: #959799 !important;
  color: #fff;
  width: 30%;
  border: 1px solid #959799 !important;
}
.int-pm .int-pm-btn.disabled {
  color: #fff !important;
}
.int-pm {
  height: 7.5rem;
  width: 15rem;

  .int-pm-value {
    border-width: 1.5px 0 !important;
    border-color: #959799 !important;
    background-color: #fff;
  }
}
