.join-section {
  background: $footer-1-joinSectionBgColor;
  color: $footer-1-joinSectionTextColor;
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding: 2.5rem 0 4.1rem;

  @include media-breakpoint-up (md) {
    font-size: 1.3rem;
    line-height: 2.2rem;
    padding: 3.4rem 0 3.2rem;
  }

  @include media-breakpoint-up (lg) {
    padding: 3.2rem 0 3.5rem;
  }

  .description {
    @include media-breakpoint-up (md) {
      padding: 0 3.5rem 0 0;
    }

    @include media-breakpoint-up (lg) {
      padding: 0 3.5rem 0 2.8rem;
    }

    &:after {
      @extend %icon;

      @include media-breakpoint-up (md) {
        content: $icon-arrow-d;
        right: -.6rem;
        top: 50%;
        position: absolute;
        color: $white;
        font-size: 5.4rem;
        font-weight: 100;
        line-height: 1;
        transform: translateY(-50%) rotate(-90deg);
        opacity: .2;
      }

      @include media-breakpoint-up (lg) {
        right: -6.9rem;
      }

      @include media-breakpoint-up (xl) {
        right: -9.9rem;
      }
    }
  }

  p {
    margin: 0 0 1.9rem;

    @include media-breakpoint-up (md) {
      margin: 0;
    }
  }

  h3 {
    margin: 0 0 .7rem;
    font-weight: 700;
    color: $footer-1-joinSectionTitleColor;

    @include media-breakpoint-up (md) {
      font-size: 2rem;
      margin: 0 0 1rem;
    }

    @include media-breakpoint-up (lg) {
      font-size: 2.2rem;
      margin: 0 0 .7rem;
    }
  }

  .sign-up-form {
    @include media-breakpoint-up (lg) {
      padding-right: 2.2rem;
    }

    .form-control {
      border: 0;
    }
  }
}
