#location-entry-popup {
  .modal-container {
    @media (min-width: 767px) {
      max-width: 65rem;
    }
    padding-bottom: 1rem;
    h3 {
      font-weight: 500;
    }
    .modal-open {
      @media (min-width: 767px) {
        padding: 0 2rem;
      }
      .address-row {
        padding-top: 0;
        .icon_location {
          top: 0.3em;
        }
      }
      #retailer-feedback-form {
        .address-row {
          .form-control.is-invalid {
            border-color: #d00a11;
          }
          position: relative;
          //.icon_location {
          //  top: 8.2em;
          //  left: 2em;
          //  @media (max-width: 767px) {
          //    top: 8.8em;
          //    left: 1.2em;
          //  }
          //}
        }
        .invalid-input {
          .icon_location {
            top: 9em;
            @media (max-width: 767px) {
              top: 9.8em;
              left: 1.2em;
            }
          }
        }
        .checkbox-wrap {
          @media (max-width: 767px) {
            padding: 1rem;
          }
        }
      }
      .btn.btn-primary {
        padding: 1.5rem 0;
      }
      .retailer-info-steps {
        p {
          background-color: #d6d6d6;
          padding: 1rem 1.6rem 1rem;
          border-radius: 3rem;

          span {
            font-size: 1.5rem;
            color: #d00a11;
          }
        }
        i {
          border-radius: 50%;
          background-color: #d00a11;
          margin-right: 1rem;
          color: #fff;
        }
        .icon-cart-grided {
          padding: 0.9rem;
          &:before {
            font-size: 3rem;
          }
        }
        .icon-cart-grided-check {
          padding: 0.5rem;
          &:before {
            font-size: 4rem;
          }
        }
        .btn.btn-primary {
          padding: 1rem 5.6rem 1rem;
        }
      }
    }
  }
  .step-info {
    overflow: hidden;
    background-color: #e3e3e3;
    padding: 1.1875rem .875rem 1.875rem;
    text-align: left;

    .btn-holder {
      text-align: center;
      font-size: 1.2rem;

      .back {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.3rem;
      }
      .back-align-left {
        @media (min-width: 767px) {
          float: left;
        }
      }
      .btn {
        margin-bottom: 1.6875rem;
        font-size: 1.5rem;
      }
    }
    .location-form {
      padding: 0;
      .product-type {
        margin-bottom: 2.5rem;
        .jcf-select {
          min-width: rem-calc(150px);
          max-width: 80%;
          border: 1.2px solid #828384;
        }
        #distance-label {
          font-size: 1.2rem;
        }
      }
      @media (min-width: 767px) {
        padding: 0 5rem;
        .product-type {
          .jcf-select {
            max-width: 85%;
          }
        }
      }
      .badge-danger {
        font-size: 80%;
      }
      .grocery-list {
        font-size: 1.275rem;
        border: 1px solid #f0f0f0;
        background-color: #fff;
        padding-left: 0;
        margin-bottom: 0;
        span {
          font-weight: 400;
        }
        #retailer-name {
          font-weight: 600;
        }
        address {
          font-size: 1.275rem;
          font-weight: 400;
        }
        li {
          -webkit-transition: background-color .3s linear, color .3s linear, box-shadow .3s linear;
          transition: background-color .3s linear, color .3s linear, box-shadow .3s linear;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          font-weight: 800;
          margin: 0 -.075rem 0 -.9375rem;
          padding: .9375rem .4375rem .1875rem .9375rem;
        }
        li:hover {
          background-color: #797979;
          box-shadow: -1px 0 0 1px #b0b0b0;
          color: #fff;
        }
        li.selected-store {
          background-color: #797979;
          box-shadow: -1px 0 0 1px #b0b0b0;
          color: #fff;
        }
      }

      .btn-holder {
        padding-top: 2.5rem;
      }
    }
  }

  .select-delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1.0625rem;

    .column {
      position: relative;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      //justify-content: space-between;
      padding-top: 1.3125rem;
      line-height: 1.3;
    }
    .alert-span{
      color: #d00a11;
      padding: 0.9375rem!important;
      @include media-breakpoint-down(sm){font-size: 1.3rem!important;}
    }
    .info {
      display: block;
      text-align: center;
      padding: .9375rem 0 1.875rem;
      height: 100%;
      font-size: 1rem;
    }
      //.column:last-child:after,
      //.column:last-child:before {
      //  content: none;
      //}

      .info {
        display: block;
        text-align: center;
        padding: .9375rem 0 1.875rem;
        height: 100%;
        font-size: 1rem;
      }

      .column:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 1.5rem;
        right: 1.5rem;
        height: 1.5px;
        background-color: #8a8c8e;
      }

      .column:before {
        content: "Or";
        position: absolute;
        top: 100%;
        right: 50%;
        width: 2rem;
        height: 1.25rem;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
        background-color: #e3e3e3;
        font-size: 1.5rem;
        line-height: 1.5rem;
        z-index: 1;
      }
    .btn-holder {
      padding: 0 1.1875rem;

      .btn {
        padding: .875rem .3125rem;
        font-size: 1rem;
      }
    }
  }
  @media (min-width: 768px) {
    .select-delivery {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;

      .column {
        width: 50%;
      }
      .column:first-child {
        padding-right: 2rem;
      }
      .column:last-child {
        padding-left: 2rem;
      }
      .column:last-child:after,
      .column:last-child:before {
        content: none;
      }
      .column:after {
        top: 0;
        bottom: 0;
        right: 0;
        left: auto;
        width: 2px;
        height: auto;
      }
      .column:before {
        top: 50%;
        right: -.625rem;
        font-size: 1.2rem;
        line-height: 1.875rem;
        width: 1.875rem;
        height: 1.875rem;
        right: -.8125rem;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .info {
        position: relative;
        padding: .9375rem 1.2375rem 1.875rem;
        font-size: 1.525rem;
        height: auto;
        text-align: center;
        display: block;
      }
      //.info {
      //  display: block;
      //  position: relative;
      //  text-align: center;
      //  padding: .9375rem 0 1.875rem;
      //  height: 100%;
      //  font-size: 1rem;
      //}
      //
      //.column:after {
      //  content: "";
      //  position: absolute;
      //  top: 100%;
      //  left: 1.5rem;
      //  right: 1.5rem;
      //  height: 1.5px;
      //  background-color: #8a8c8e;
      //}
      //
      //.column:before {
      //  content: "Or";
      //  position: absolute;
      //  top: 100%;
      //  right: 50%;
      //  width: 1.2rem;
      //  height: 2.25rem;
      //  -webkit-transform: translate(50%, -50%);
      //  transform: translate(50%, -50%);
      //  background-color: #e3e3e3;
      //  font-size: 1.5rem;
      //  line-height: 1.5rem;
      //  z-index: 1;
      //}

      .btn-holder .btn {
        font-size: 1rem;
        color: #fff;
      }
    }
  }
  @media (max-width: 767px) {
    .column:last-child:after,
    .column:last-child:before {
      content: none;
    }

    .info {
      display: block;
      position: relative;
      text-align: center;
      padding: .9375rem 0 1.875rem;
      height: 100%;
      font-size: 1rem;
    }

    .column:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 1.5rem;
      right: 1.5rem;
      height: 1.5px;
      background-color: #8a8c8e;
    }

    .column:before {
      content: "Or";
      position: absolute;
      top: 100%;
      right: 50%;
      width: 2rem;
      height: 1.25rem;
      -webkit-transform: translate(50%, -50%);
      transform: translate(50%, -50%);
      background-color: #e3e3e3;
      font-size: 1.5rem;
      line-height: 1.5rem;
      z-index: 1;
    }
  }
  .scrollable-wrapper {
    height: auto;
    max-height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: auto !important;
    }
  }
  @media (min-width: 375px) {
    .select-delivery {
      .btn-holder .btn {
        font-size: 1.2rem;
        color: #fff;
      }
    }
  }
  @media (min-width: 768px) {
    #notAvailableBtnGrp {
      .btn.btn-primary {
        width: 45%;
        font-size: 1.6rem;
        font-weight: 800;
      }
    }
  }
}
