.mast-head-2 {
  .intro-holder {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3.8rem 0 3.5rem;
    display: flex;
    align-items: center;
    text-align: center;

    @include media-breakpoint-down (sm) {
      margin: 0 -1.3rem;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      min-height: 12.4rem;

      @include media-breakpoint-up (md) {
        min-height: 28.2rem;
      }

      @include media-breakpoint-up (lg) {
        min-height: 34.8rem;
      }
    }
  }

  .row {
    width: 100%;

    @include media-breakpoint-down (sm) {
      width: calc(100% + 1.3rem);
    }

    .top-fixer {
      position: relative;
    }
  }

  .holder-text {
    color: #4a4a4a;
    text-shadow: 0 0 10px $white;
    font-size: 1.6rem;
    line-height: 2.7rem;
    letter-spacing: 0.23px;
    padding: 3rem 4rem 1.8rem;
    background: rgba(255, 255, 255, .7);
    position: relative;
    top: 0%;

    @include media-breakpoint-up (md) {
      max-width: 89.9%;
      margin: 0 auto 4rem;
      padding: 3.3rem 4rem 1.6rem;
    }

    @include media-breakpoint-up (lg) {
      max-width: 93.5%;
      padding: 3rem 4rem 1.8rem;
    }

    h1 {
      font-size: 3.5rem;
      line-height: 4rem;
      text-transform: uppercase;
      margin-bottom: 2.2rem;
      font-weight: 700;
      position: relative;
      margin-top: 0;
    }

    p {
      position: relative;
      margin-top: 0;
    }

  }

  .btn {
    position: relative;
    min-width: 18.3rem;
    padding: 1.7rem 1.2rem;

    @include media-breakpoint-up (md) {
      min-width: 18.3rem;
      padding: 1.4rem 1.2rem;
    }

    @include media-breakpoint-up (lg) {
      min-width: 31.5rem;
    }
  }

  .shadow-box {
    position: relative;
    height: 3rem;
    overflow: hidden;
    width: 100%;
    z-index: 5;

    @include media-breakpoint-up (md) {
      margin: -4rem 0 1.1rem;
    }

    @include media-breakpoint-up (lg) {
      margin: -4rem 0 2.5rem;
    }

    .box-wrap {
      height: 6px;
      position: absolute;
      top: -1rem;
      left: 2.5rem;
      right: 5rem;
      width: 90%;

      @include media-breakpoint-up (lg) {
        left: 1.5rem;
        width: 93%;
			}
			@include media-breakpoint-up (xl) {
			  width: 94%;
			}

      &:before,
      &:after {
        content: "";
        position: absolute;
        z-index: -2;
        bottom: 1.2rem;
        left: 1rem;
        width: 50%;
        height: 20%;
        max-width: 90%;
        box-shadow: 0 15px 10px 4px rgba(0, 0, 0, .4);
        transform: rotate(-2deg);
      }

      &:after {
        right: 0;
        left: auto;
        transform: rotate(2deg);
      }
    }
  }
}
