#order-review-page{
    .padding-top-container-new {

    }
    /*.page-holder {
        padding: 29px 0 12px 0;
            }*/
    .section-heading {
         margin: 0 0 39px;
    }
    //.items-list-holder {
    //    padding-top: 13px;
    //}
    @include media-breakpoint-up (md) {
        .items-list-holder {
            padding-top: 17px;
        }
      }
      .tab-view-hidden{
        @media (min-width: 768px) and (max-width: 1024px) {
          display: none;
        }
      }
      .order-more-info{
        @media (max-width: 767px) {
          display: none;
        }
        @media (min-width: 1025px) {
          display: none;
        }
      }
      #reorder-button-mobile{
        @media (max-width: 430px) {
          font-size: 1.24rem!important;
        }
      }
}
