#payment-in-checkout{
    padding-top: rem-calc(15px);
    color: #3a3738;
  .word-space {
    word-spacing: .1rem;
    margin-top: -1rem;
  }
  .checkout-item {
    hr {
      border-top: .8px solid #dedddd;
    }
  }
    .jcf-checkbox{
        margin: 0 4px 10px 0px;
    }
    hr{
      border-top: 1px solid #c1c1c1;
    }
    .jcf-radio{
        height: 24px;
        width: 24px;
        border-radius: 13px;
    }
    @include media-breakpoint-down(md) {
      .jcf-radio{
       margin-left: -14px;
      }

    }
  @media screen and (max-width: 1000px) and (orientation: landscape){
    #payment-cancel-link2 {
      padding-left: 45%;
    }
  }
    .new-border-style{
        border-width: 1px;
      }
      .payment-margin{
        margin-top: -2rem;
      }
    .btn-link {
        color:#dc1010;
      }
      .delivery-address-subtext{
        font-weight: 600;
          font-size: 17px;
          text-transform: capitalize;
      }
      .card-bg{
          background-color: #d6d6d6;
          border-radius: 6px;
          padding: 17px;
          min-height: 55px;
          margin-left: -14px;
          margin-right: -14px;
      }
      .active{
        background-color: #e0b6b6;
        border-radius: 6px;
        padding: 17px;
        min-height: 55px;
        margin-left: -14px;
        margin-right: -14px;
      }
      @media only screen and (max-width: 991px ) and (min-width: 768px ){
        #revieworder {
          font-size: 15px;
        }
      }
  .checkout-payment .inputs-box {
    padding-left: 0;
  }
    @media (min-width: 992px){
        .checkout-payment .inputs-box {
          max-width: none;
          padding: 0 17.1vw 20px 0;
        }
    }
    form .two-cols.add-style .col:last-child:after {
      /* content: "\002f"; */
      position: absolute;
      left: -6px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 14px;
      line-height: 1;
      margin-top: -11px;
    }
  .payment-error {
    padding-bottom: 1rem;
  }
}
