.modal-mask {
  @extend %transition;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: table;

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;

    &.location-light-box {

      .modal-container,
      .lightbox-holder {
        color: $location-entry-light-box-color;
        background: $location-entry-light-box-backgroundColor;


        @media  screen and (max-device-width: 1000px) and (max-device-height: 567px) and  (orientation:landscape) {
          /* Landscape styles here */
          max-height: calc(100vh - 15px);
          overflow-y: scroll;
        }
        .close {
          @media screen and (max-width: 768px) and (orientation: landscape) {
            right: 10px;
            top: 10px;
          }
        }
      }

    }
    @media screen and (max-height: 600px) and (orientation: landscape){
      max-height: calc(100vh - 25px);
      overflow-y: scroll;
    }

  }

  .modal-container {
    position: relative;
    margin: 0px auto;
    padding: 2.5rem 1.6rem;
    color: $standard-light-box-color;
    background: $standard-light-box-backgroundColor;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    width: 100%;
    text-align: center;

    @include media-breakpoint-up (sm) {
      max-width: 50rem;
    }

    @include media-breakpoint-up (md) {
      max-width: 58rem;
    }

    .lightbox-holder {
      /*padding: 13px 10px 0;*/
      color: $standard-light-box-color;
      background: $standard-light-box-backgroundColor;

      .lighbox-title {
        color: $standard-light-box-titleColor;
        text-transform: uppercase;
        margin: 0;
        text-align: left;
        font-weight: 900;

        @include media-breakpoint-up (md) {
          margin: 0;
        }

      }
    }

    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 14px;
      @media screen and (max-width: 768px) and (orientation: landscape) {
        right: 20px;
        top: 20px;
      }
    }

    .address-row {
      padding-top: 25px;

      input[type="text"] {
        width: 100%;
        height: 50px;
        font-weight: 400;
        display: initial;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        box-shadow: none !important;
        font-size: 17px;
        letter-spacing: .4px;
        padding: 8px 5px 4px;
        padding-left: 3em;
        line-height: normal;
        border: thin solid $location-input-field-borderColor;
        outline: none;
        color: $location-input-field-color;

        &:focus {
          border-color: $location-input-field-focusBorderColor;
        }

        &::-moz-placeholder {
          color: $location-input-field-placeHolderColor;
          opacity: 1;
        }

        &:-ms-input-placeholder {
          color: $location-input-field-placeHolderColor;
        }

        &::-webkit-input-placeholder {
          color: $location-input-field-placeHolderColor;
        }
      }

      .icon_location {
        position: absolute;
        font-size: 2em;
        left: .5em;
        top: 1.2em;
        color: #808080;
      }

      .btn-wrap {
        padding-top: 25px;

        .btn {
          width: 100%;
        }
      }

    }

  }

  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }

  .modal-body {
    margin: 20px 0;
  }

  .modal-default-button {
    float: right;
  }

  /*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


}

.modal-mask.join-popup {

  /* popup content*/
  .lightbox-holder,
  .modal-container {
    color: #292A2A;
    background: #dee2e6;

    .join-opener {
      position: absolute;
      right: 1.8rem;
      top: 1.8rem;
      color: #292A2A;
      font-size: 1.4rem;
      font-weight: bold;

      @include media-breakpoint-up (md) {
        font-size: 1.9rem;
        right: 1.3rem;
        top: 1.3rem;
      }
    }

    .h4 {
      margin-bottom: 3.6rem;
      font-size: 2.5rem;
      line-height: 2.6rem;
      color: #d00a11;
      @include media-breakpoint-up (md) {
        margin-bottom: 3.4rem;
      }
    }

    p {
      @include media-breakpoint-up (md) {
        margin-bottom: 2.3rem;
      }
    }

    input[type="email"] {
      background: $white;
      width: 100%;
      margin-bottom: 1rem;
      color: $gray-500;
      font-size: 1.8rem;
      font-weight: 300;
      letter-spacing: 0.42px;
      height: 5.4rem;
      line-height: 5rem;
      padding: 1rem 1.8rem;

      @include media-breakpoint-up (md) {
        margin-bottom: 0.8rem;
        height: 5rem
      }

      @include placeholder {
        color: $gray-500;
      }
    }

    .invalid-feedback {
      font-size: 90%;
    }

    input[type="submit"] {
      padding: 1.8rem 3.5rem;
      font-size: 1.6rem;
      line-height: 1.8rem;

      @include media-breakpoint-up (md) {
        padding: 1.6rem 7.3rem;
      }
    }

    .btn {
      width: 45%;
      padding: 16px 10px 14px;
    }
  }
}

#main {
  .add-cart-pop-open {
    background-color: transparent;

    &.fancybox-wrap {
      width: 100% !important;
      height: auto !important;
      top: 93px !important;
      position: absolute !important;
      opacity: 1 !important;
      overflow: visible !important;
    }

    &.fancybox-opened {
      z-index: 8030;
    }

    &.fancybox-skin {
      position: relative;
      background: #fff;
      color: #444;
      text-shadow: none;
      border-radius: 4px;
      overflow: hidden;
      overflow: -moz-scrollbars-none;
    }

    &.small-fancybox[data-v-506cc28e] {
      width: 50% !important;
      top: 160px !important;
      right: 0 !important;
      left: 50% !important;
    }

    .bottom-padding {
      padding-bottom: 150px !important;
    }

    .resize-active * {
      -webkit-transition: none !important;
      transition: none !important;
    }

    .fancybox-outer,
    .fancybox-inner,
    .fancybox-bg,
    .fancybox-stage {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      overflow: auto !important;
      height: auto !important;
    }

    .fancybox-outer,
    .fancybox-inner,
    .fancybox-bg,
    .fancybox-stage {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .lightbox-holder {
      width: auto !important;
      padding: 11px 10px 0 !important;
    }

    #add_cart_noti {
      overflow: visible;

      .lightbox-holder {
        max-width: 400px;
        display: block;
        margin: auto;
        font-size: 15px;
      }
    }
  }

}
#LoginPopup, #SignupPopup{
  .small_center_text{
    padding: 1rem;
  }
  .close {
    @media screen and (max-width: 768px) and (orientation: landscape) {
      top: 25px;
    }
  }
}

#differentRetailerAlert {
  .btn.btn-primary {
    width: 45%;
    font-size: 1.6rem;
    font-weight: 800;
  }
}
#vendorSwitchAlert {
  .btn.btn-primary {
    width: 45%;
    font-size: 1.6rem;
    font-weight: 800;
  }
}
#location-entry-popup {
  .address-row {
    .btn-wrap {
      .btn {
        font-size: rem-calc(16px);
        font-weight: 500;
      }
    }
  }
  .lightbox-holder {
    h3 {
      display: block;
      text-align: center;
      text-transform: capitalize;
      color: $red;
      margin-bottom: rem-calc(15px);

      @include media ('>=tablet') {
        font-size: rem-calc(24px);
      }
    }
    p {
      font-size: rem-calc(18px);
      margin-bottom: rem-calc(19px);
    }
    #address-info {
      text-align: justify;
    }
    .btn {
      width: 100%;
    }
  }
  .steps-view {
    @extend %listreset;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -2.5rem -1.6rem 2.4rem -1.6rem;
    background: #d7d7d7;
    padding: rem-calc(10px 24px);

    @include media ('>=tablet') {
      padding: rem-calc(10px 69px);
    }

    li {
      background-color: $red;

      &:first-child {
        &:after {
          background: linear-gradient(to right, $red, $gray-600);
        }
      }
    }
    #delivery-man-icon-popup,#bottle-icon-popup{
      background-color: #8a8c8e;
    }
    .step {
      position: relative;
      display: block;
      width: rem-calc(54px);
      height: rem-calc(54px);
      border-radius: 50%;
      //background-color: $gray-600;
      background-color: $red;

      &:last-child {
        &:after {
          content: none;
        }
      }

      &:after {
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        width: rem-calc(110px);
        height: rem-calc(3px);
        background: $gray-600;

        @include media ('>=tablet') {
          width: rem-calc(180px);
        }
        @media screen and (min-width: 576px) and (max-width: 768px) and (orientation: landscape) {
          width: rem-calc(180px);
        }
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        font-size: rem-calc(28px);
      }
    }
  }
  .multi-steps-enable {
    #delivery-man-icon-popup{
      background-color: $red;
    }
    li {
      &:first-child {
        &:after {
          background: $red;
        }
      }
    }
    .step {
      &:after {
        background: linear-gradient(to right, $red, $gray-600);
      }
    }
  }
}
#vendorSwitch-alert-close-popup, #retailer-notification-close-popup {
  @media screen and (max-width: 768px) and (orientation: landscape) {
    top: 10px;
  }
}
#vendorSwitch-alert-close-popup, #retailer-notification-close-popup {
  @media screen and (max-width: 768px) and (orientation: landscape) {
    top: 10px;
  }
}
