.product-section {
  margin-bottom: rem-calc(44px);
  @include media-breakpoint-down(sm){
    margin-top: 1rem;
  }
  @include media ('>=tablet') {
    margin-bottom: rem-calc(20px);
  }

  @include media ('>=desktop') {
    margin-bottom: rem-calc(28px);
  }

  .container-fluid {
    @include media ('>=tablet') {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .title-holder {
    @include media ('>=tablet') {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }

  .title-box {
    @include media ('>=tablet') {
      width: 50%;
      padding: rem-calc(39px 0 11px);
    }

    @include media ('>=desktop') {
      width: 59%;
    }

    h2 {
      font-size: rem-calc(24px);
      line-height: 1.21428;
      color: #8a8c8e;
      margin-bottom: .5rem;
      font-family: inherit;
      font-weight: 800;
    }

    .h2 {
      font-family: $font-family-brandon;
      font-size: rem-calc(24px);
      font-weight: 900;
      padding-bottom: rem-calc(14px);
    }
  }

  .h2 {
    color: $red;
    font-size: rem-calc(24px);
    border-bottom: 1px solid $gray-700;
    text-transform: uppercase;
  }

  .h5 {
    text-transform: uppercase;
    margin-bottom: rem-calc(3px);
    font-weight: 800;
  }

  .form-holder {
    padding: rem-calc(8px 0 4px);

    @include media ('>=tablet') {
      padding: rem-calc(8px 15px 0 12px);
      margin: rem-calc(0 -15px 42px 0);
      background-color: $gray-300;
    }

    @include media ('>=desktop') {
      padding: rem-calc(8px 0 0 17px);
      margin-bottom: rem-calc(47px);
    }

    p {
      margin-bottom: rem-calc(9px);
    }
  }

  .info-holder {
    background-color: $gray-400;
    margin: rem-calc(0 -20px 11px -28px);
    padding: rem-calc(10px 20px 10px 28px);
    color: $gray-700;

    @include media ('>=tablet') {
      margin: rem-calc(0 -15px 17px -12px);
      padding: rem-calc(24px 12px 6px);
    }

    @include media ('>=desktop') {
      margin: rem-calc(0 5px 25px -18px);
      padding: rem-calc(14px 18px 6px);
    }

    .info-circle {
      margin: rem-calc(0 28px 0 16px);
      top: 0;
    }

    .slogan-box {
      justify-content: space-between;
      width: rem-calc(138px);
      padding: 0;
    }

    .slogan {
      display: block;
    }
    p {
      color: #504f4f;
      font-weight: 600;
    }
  }

  .info-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: rem-calc(11px);
    margin-bottom: rem-calc(12px);

    @include media ('>=tablet') {
      margin-bottom: rem-calc(6px);
    }
  }

  .text-box {
    h2 {
      padding-bottom: rem-calc(11px);
      color: #8a8c8e;
      border-bottom: 1px solid #585857;
      margin-bottom: .5rem;
      font-family: inherit;
      font-weight: 800;
      text-transform: capitalize;
      line-height: 1.2;

      @include media ('>=tablet') {
        padding-bottom: rem-calc(8px);
      }
    }
  }
}

.product-carousel,
.product-carousel-sm,
.recomended-section .product-collection {
  .slick-track {
    display: flex;
  }

  .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    img {
      max-width: 100%;
      min-width: 1px;
    }
  }
}

.product-carousel {
    .slick-slide {
      outline: none;
      @include media ('>=tablet') {
      margin-right: 1rem;
      margin-left: .5rem;
    }
      @include media ('>=desktop') {
          margin-right: 2rem;
          margin-left: 1rem;
      }
  }
  @include media ('>=desktop') {
    margin-bottom: rem-calc(42px);
  }

  .slick-dots {
    bottom: rem-calc(22px);
    //@extend %listreset;
    //position: absolute;
    //display: flex;
    //bottom: rem-calc(8px);
    //left: 50%;
    //transform: translateY(-50%);
    //padding: 0;
    //margin: 0;
    //counter-reset: dots;

    //@include media ('>=tablet') {
    //  bottom: rem-calc(4px);
    //}
    //
    //@include media ('>=widescreen') {
    //  bottom: rem-calc(20px);
    //}

    @include media-breakpoint-down(sm) {
      bottom: -1.8rem;
    }
    @include media ('>=desktop') {
      display: none !important;
    }
    &:before,
    &:after {
      color: $white;
    }
    button {
      color: $white;
    }
    li {
      &:after,
      &:before {
        color: $white;
      }
    }
    //@include media ('<=tablet') {
    //  &:after {
    //    content: counter(dots);
    //    color: $white;
    //    font-size: rem-calc(18px);
    //    padding-left: .5rem;
    //  }
    //
    //  &:before {
    //    //content: '\e908';
    //    //font-family: icomoon;
    //    //position: absolute;
    //    //top: 50%;
    //    //right: rem-calc(-21px);
    //    //transform: translateY(-50%);
    //    //color: $gray-700;
    //    //font-size: rem-calc(20px);
    //    content: '\E900';
    //    font-family: icomoon;
    //    position: absolute;
    //    top: 35%;
    //    left: rem-calc(10px);
    //    -webkit-transform: translateY(-50%) translateZ(0);
    //    transform: translateY(-50%) translateZ(0);
    //    color: $white;
    //    font-size: rem-calc(30px);
    //  }
    //}
    //li {
    //  position: absolute;
    //  right: calc(100% + 5px);
    //  counter-increment: dots;
    //  opacity: 0;
    //  transform: translateZ(0);
    //  @include media ('<=tablet') {
    //    &:before {
    //      content: '\e901';
    //      font-family: icomoon;
    //      position: absolute;
    //      top: 50%;
    //      left: rem-calc(-16px);
    //      transform: translateY(-50%) translateZ(0);
    //      color: $white;
    //      font-size: rem-calc(30px);
    //    }
    //
    //    &:after {
    //      content: '/';
    //      position: absolute;
    //      top: 50%;
    //      right: rem-calc(-15px);
    //      transform: translateY(-50%);
    //      color: $white;
    //      font-size: rem-calc(18px);
    //    }
    //
    //    &.slick-active {
    //      opacity: 1;
    //      button {
    //        background: transparent;
    //      }
    //    }
    //  }
    //}
    //button {
    //  padding: rem-calc(0 10px);
    //  border: 0;
    //  background: transparent;
    //  color: $white;
    //  font-size: rem-calc(18px);
    //}
  }

  //.slick-dotted {
  //  &.slick-slider {
  //    margin-bottom: 0px;
  //  }
  //}
}

.product-carousel-sm {
  display: none;

  @include media ('>=desktop') {
    display: block;
    margin-left: rem-calc(-22px);
    padding-right: 17px;
    .slick-slide {
      margin-right: .6rem;
      margin-left: .6rem;
    }
  }

  img {
    cursor: pointer;
  }
}
