.product-info {
  @include media ('>=tablet') {
    color: $gray-800;
    width: 50%;
    max-width: 50%;
    padding-left: rem-calc(7px);
  }

  @include media ('>=desktop') {
    width: 56%;
    max-width: 59%;
    padding-left: 0;
  }

  .text-box {
    @include media ('>=desktop') {
      padding-right: rem-calc(26px);
    }
  }

  .form-group {
    label {
      color: #585857;
      margin-bottom: .25rem;
    }
  }
  .form-holder {
    a {
      text-decoration: underline;
    }
    .form-check {
      margin-bottom: .875rem;
      border-radius: 3px;
      padding-left: 0;
      label {
        -webkit-transition: background-color .3s linear;
        transition: background-color .3s linear;
        display: block;
        padding: 1.0625rem 2.8125rem .8125rem 4rem;
        background-color: rgba(138, 140, 142, .1);
        color: #373737;
      }
      label.jcf-label-active {
        background-color: $highlight-radio-button-group-activeBackgroundColor;
      }
      .jcf-radio {
        position: absolute;
        top: 22%;
        left: .9375rem;
        border-radius: 22px;
        height: 22px;
        width: 22px;
        span {
          background: #424242;
        }
      }
    }
    .form-check.disabled {
      .jcf-radio {
        display: none;
      }
    }
  }
  .info-area {
    .btn {
      width: 100%;
      font-size: rem-calc(16px);
    }
  }
}

.product-view {
  margin: rem-calc(0 -15px);

  @include media ('>=tablet') {
    width: 50%;
    max-width: 50%;
    margin: rem-calc(-95px 0 0);
    padding: rem-calc(0 8px);
  }

  @include media ('>=desktop') {
    width: 41%;
    max-width: 41%;
    margin: rem-calc(-95px 0 0);
  }
}

.product-carousel,
.product-carousel-sm,
.recomended-section .product-collection {
  .slick-track {
    display: flex;
  }

  .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    img {
      max-width: 100%;
      min-width: 1px;
    }
  }
}

.add-form {
  position: relative;
  margin-bottom: rem-calc(12px);

  @include media ('>=tablet') {
    padding-right: rem-calc(79px);
    margin: rem-calc(0 -15px 20px 0);
  }

  @include media ('>=desktop') {
    padding-right: rem-calc(40px);
    margin: rem-calc(0 -15px 26px 0);
  }

  .row-holder {
    margin-bottom: rem-calc(86px);

    @include media ('>=tablet') {
      margin-bottom: 0;
    }

    @include media ('>=desktop') {
      display: flex;
      justify-content: space-between;
    }
  }

  .column {
    @include media-breakpoint-up(lg) {
      width: 48%;
    }
    @include media-breakpoint-up(xl) {
      width: 41%;
    }
  }

  .price-holder {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include media ('>=tablet') {
      margin-bottom: rem-calc(14px);
    }

    .form-group {
      width: 100%;

      label {
        color: #585857;
        margin-bottom: .25rem;
      }

      @include media ('>=tablet') {
        width: rem-calc(122px);
        margin-bottom: 0;
      }
    }
  }

  .price {
    position: absolute;
    bottom: rem-calc(70px);
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: rem-calc(28px);
    font-family: $font-family-brandon;
    color: $red;
    font-weight: 900;

    @include media ('>=tablet') {
      position: static;
      width: calc(100% - 8.125rem);
      text-align: right;
      padding: rem-calc(0 0 30px 0);
    }
  }

  .title {
    display: block;
    padding: rem-calc(8px 0 9px);
    color: $gray-700;

    @include media ('>=desktop') {
      padding: rem-calc(7px 0);
    }
  }

  .btn-holder {
    @include media ('>=tablet') {
      max-width: rem-calc(285px);
    }

    .btn {
      width: 100%;
      font-size: rem-calc(16px);
    }
  }
}
