/*--product row--*/
$flag-height: 35px;
$flag-font-size:15px;
.product-block{
    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;

        .slick-track {
            position: relative;
            left: 0;
            top: 0;
            display: block;

            &:before,&:after {
                content: "";
                display: table;
            }

            .slick-slide {
                float: left;
                height: 100%;
                min-height: 1px;
                display: none;

                &.product-list {
                    position: relative;
                    margin-right: 2px;

                    .flag {
                        
                        position:absolute;
                        //width:40%;
                        text-transform:uppercase;
                        height:$flag-height;
                        line-height: 37px;
                        text-align: center;
                        font-size: $flag-font-size;
                        letter-spacing: 1px;
                        padding: 0px 15px;
                        &:after
                        {
                            content: "";
                            position: absolute;
                            right: -$flag-height;
                            bottom: 0;
                            width: 0;
                            height: 0;
                            border-left: $flag-height solid transparent;
                            border-top: 0px solid transparent;
                            border-bottom: $flag-height solid transparent;
                        }
                        @each $color,
                        $value in $theme-colors {
                          &.flag-#{$color} {
                            @include product-flag($value);
                          }
                        }
                        
                        
                        
                    }

                    .product-item {
                        border: 1px solid $gray-500;
                        padding: 20px 10px 10px;
                        margin-bottom: 10px;
                        max-width: 100%;
                        height: auto;

                        .img-holder {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            padding: 20px 0 12px;
                            height:auto;
                            max-width:100%;

                            a{
                                display: block;
                                height: 100%;                        }
                            img{
                                 height: auto;
                                 max-width: 50%;   
                                 margin:0 auto;                              
                            }
                        }

                       .text-holder {
                            font-size: 18px;
                            line-height: 22px;
                            text-align: left;

                            .p-upper {
                                text-transform: uppercase;
                                font-weight: 700;
                                font-size: 22px;
                                &.product-title {
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    color:$standard-light-box-titleColor;
                                a{
                                    color:$standard-light-box-titleColor ;
                                }
                                }
                            }

                            .price {
                                display: block;
                                font-family: "Futura Std", "Helvetica Neue", Helvetica, Arial, sans-serif;
                                font-weight: 500;
                                color: $green;
                                font-size: 22px;
                                line-height: 1;
                                font-weight: 400;
                            }
                            
                        }                    
                        

                    }
                    
                    
                }

                &.slick-slide {
                    display: block;
                }
                
                
            }

           
            
            
        }
        
    }
    
}