.product-listing-page{
  .link{
    text-decoration: underline;
    color: inherit;
    &:hover{
      color: inherit;
    }
  }
  #stock-heading {
    .badge-danger {
      font-size: 80%;
    }
  }
  .paginate-link{
    a{
      color:$pagination-color;
      outline: none;
      cursor: pointer;
      &:hover,
      &:focus{
        color:$pagination-hover-color;
      }
      &.link-disable {
        pointer-events: none;
        color: $gray-500;
        cursor: not-allowed;
      }
    }
  }
  .product-items {
    @include media-breakpoint-down (sm) {
      margin: 0 -1.3rem;
    }

    &.bordered-items {
      [class*="col-"] {
        &:nth-child(even) {
          .product-item {
            border: 0;
          }
        }

        &:last-child {
          .product-item {
            border: 0;
          }
        }

        @include media-breakpoint-up (lg) {
          &:nth-child(3n) {
            .product-item {
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }

    [class*="col-"] {
      display: flex;
      flex-wrap: wrap;




    }
  }

  .bordered-items {
    .product-item {
      &:before {
        right: 0;
        top: 0;
        bottom: 0;
        width: .1rem;
        position: absolute;
        background: #a5a5a5;
      }
    }
  }
  .product-row-min-height {
    min-height: 28rem;
    @media (min-width: 768px)
    {
      min-height: 30rem;
    }
  @media (min-width: 992px)
  {
    min-height: 40rem;
  }
    @media (min-height: 1264px) {
      min-height: 64rem;
    }
    @include media-breakpoint-down(sm) {
      @media (min-height: 690px) {
        min-height: 34rem;
      }
    }
}
  .slick-arrow {
      background: transparent;
      //background: rgba(138, 140, 142, 0.5)
    &:focus,
    &:active,
    &:hover {
      background: transparent;
    }
  }
  .articles-holder {
    .slick-track {
      @include media-breakpoint-up(sm) {
        height: 33vw;
      }
      @include media-breakpoint-down(sm) {
        height: 50vw;
      }

    }
  }
}
