// product-row-3
.product-row-3 {
  .slick-slide {
    padding: 0;

    &.slick-active+.slick-active {
      .product-item {
        &:before {
          content: "";
          left: 0;
          top: 0;
          bottom: 0;
          width: .1rem;
          position: absolute;
          background: #a5a5a5;
        }
      }
    }
  }

  .product-item {
    margin-bottom: 2rem;
    text-align: center;
    padding: 2rem 0rem 3rem;
    height: 38.5rem;
    position: relative;
    width: 100%;

    .product-sub {
      position: absolute;
      top: 60%;
      left: 0;
      width: 100%;
      padding: 0 2.5rem;

      @include media-breakpoint-up (sm) {
        top: 57%;
      }

      @include media-breakpoint-up (md) {
        top: 58%;
      }

      @include media-breakpoint-up (lg) {
        top: 62%;
      }
    }

    @include media-breakpoint-up (sm) {
      padding: 1rem 1rem 2.3rem;
      height: 37.5rem;
    }

    @include media-breakpoint-up (md) {
      padding: 0rem 1rem 2.3rem;
      height: 38rem;
    }

    @include media-breakpoint-up (lg) {
      padding: 0rem 0rem 5.1rem;
      height: 40rem;
    }

    @include media-breakpoint-up (xl) {
      padding: 1rem 3.5rem 5.1rem;
    }

    &:after {
      @extend %transition;
      @include animate(visibility opacity);

      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to top, rgba(238, 238, 238, 0) 0%, rgba(235, 235, 235, 0) 8%, rgba(216, 216, 216, 0.53) 100%);
      z-index: -1;
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      &:after {
        opacity: 1;
        visibility: visible;
      }

      .btn {
        visibility: visible;
        opacity: 1;
      }
    }

    .flag {
      color: $white;
      font-size: 1rem;
      line-height: 1;
      font-weight: 400;
      left: .8rem;
      top: .8rem;
      position: absolute;
      text-transform: uppercase;
      padding: 1.2rem 1.2rem .8rem .9rem;
      width: auto;
      background: theme-color("primary");
      text-align: left;
      z-index: 9999;

      @include media-breakpoint-up (md) {
        font-size: 1.4rem;
        padding: 1.1rem 1.1rem .9rem .8rem;
      }

      @include media-breakpoint-up (lg) {
        font-size: 1.3rem;
        line-height: 2.3rem;
        padding: 1.8rem 1.8rem 1.3rem 1.5rem;
        top: 1.5rem;
        left: 2.3rem;
      }

      @include media-breakpoint-up (xl) {
        font-size: 2.2rem;
        line-height: 2.2rem;
      }

      .flag-tail {
        position: absolute;
        right: -3.6rem;
        top: 6px;
        height: 0;
        width: 2.5rem;
        border-top: 17px solid theme-color("primary");
        border-bottom: 17px solid theme-color("primary");
        border-right: 8px solid transparent;
        border-left: 17px solid theme-color("primary");

        @include media-breakpoint-up (xs) {
          border-top-width: 15px;
          border-bottom-width: 15px;
          border-right-width: 8px;
        }

        @include media-breakpoint-up (md) {
          border-top-width: 16px;
          border-bottom-width: 17px;
        }

        @include media-breakpoint-up (lg) {
          right: -4.8rem;
          width: 4rem;
          border-top-width: 27px;
          border-bottom-width: 27px;

        }
      }

      &:after {
        content: "";
        position: absolute;
        right: -1.2rem;
        top: 6px;
        height: 100%;
        width: 0px;
        background-size: 100% 100%;
        border-bottom: 6px solid transparent;
        border-right: 13px solid darken(theme-color("primary"), 30%);
        /* height: 0; */
        width: 0;

        @include media-breakpoint-up (lg) {
          top: 5px;
          border-bottom-width: 4px;
          border-right-width: 11px;
          height: 100%;
          width: 1rem;
          right: -1rem;
        }
      }

      &:before {
        content: "";
        position: absolute;
        right: -2.7rem;
        top: 0;
        height: 100%;
        width: 0px;
        background-size: 100% 100%;
        border-bottom: 7px solid darken(theme-color("primary"), 30%);
        border-right: 13px solid transparent;
        height: 0;
        width: 0rem;
        right: -1.2rem;

        @include media-breakpoint-up (lg) {
          width: 1.4rem;
          right: -1.3rem;

        }
      }

      span {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        //overflow: hidden;
      }

      @each $color,
      $value in $theme-colors {
        &.flag-#{$color} {
          @include product-flag($value);
        }
      }
    }

    .img-wrap {
      min-height: 16.9rem;
      height: 255px;
      display: flex;
      /*--new--*/
      line-height: 1.7rem;
      margin-bottom: 0rem;
      align-items: center;

      @include media-breakpoint-up (xs) {
        height: auto;
      }

      @include media-breakpoint-up (md) {

        min-height: 18.2rem;
        margin-bottom: 2rem;
      }

      @include media-breakpoint-up (lg) {
        min-height: 20.2rem;
        margin-bottom: 1.6rem;
      }

      img {
        vertical-align: bottom;
        max-width: 90%;
        max-height: 20rem;
        height: auto;
        margin: auto;

        @include media-breakpoint-up (lg) {
          max-height: 24rem;
        }
      }
    }

    .title {
      color: theme-color("primary");
      font: italic 1.8rem/2.4rem $font-playfair;
      text-transform: capitalize;
      display: block;
      margin-bottom: 1rem;

      @include media-breakpoint-up (md) {
        margin-bottom: .9rem;
      }

      @include media-breakpoint-up (lg) {
        margin-bottom: 1.1rem;
      }
    }

    h4,
    .h4 {
      margin: 0 0 1rem;
      color: $theme-colors-dark;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      /* fallback */
      /* fallback */
      -webkit-line-clamp: 5;
      /* number of lines to show */
      -webkit-box-orient: vertical;

      @include media-breakpoint-down (md) {
        font-size: 2rem;
        line-height: 1;
        margin: 0 0 .2rem;
      }
    }

    .size {
      color: $theme-colors-dark;
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-weight: normal;
      display: block;
      margin-bottom: .2rem;

      @include media-breakpoint-up (md) {
        margin-bottom: .9rem;
      }
    }

    .prise {
      color: theme-color("primary");
      font: 700 2.2rem/2.6rem $font-playfair;
      position: absolute;
      left: 2rem;
      right: 2rem;
      bottom: 0;
      display: block;
      padding: .4rem 0 0;

      @include media-breakpoint-up (lg) {
        padding: .9rem 0 0;
        bottom: 1.6rem;
      }

      &:before {
        @include size(3.4rem, .1rem);

        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        background: theme-color("primary");

        @include media-breakpoint-up (lg) {
          @include size(6.6rem, .1rem);
        }
      }
    }

    .btn {
      @include animate(visibility opacity background);

      position: absolute;
      top: 35%;
      left: 50%;
      width: 85%;
      transform: translate(-50%);
      padding: .9rem 1.2rem;
      max-width: 31.4rem;
      opacity: 0;
      visibility: hidden;
      color: $white;

      @include media-breakpoint-up (md) {
        padding: 1.1rem 1.4rem 0.9rem;
      }

      @include media-breakpoint-up (lg) {
        padding: 1.8rem 1.4rem 1.5rem;
      }

      &:after,
      &:before {
        display: none;
      }
    }
  }


}
