#promotion_tile_all {
  height: 38.5rem;

  @include media-breakpoint-up (sm) {
    height: 37.5rem;
  }

  @include media-breakpoint-up (md) {
    height: 38rem;
  }

  @include media-breakpoint-up (lg) {
    height: 40rem;
  }

  .same-height-block {
    position: relative;
    padding: 0;
  }

  .no-pointer {
    cursor: initial;
  }

  .text-holder {
    width: 100%;
    display: block;
    padding: 10px;

    .btn.btn-inverse {
      width: 90%;
      max-width: 100%;

      @media (min-width: 992px) {
        margin-top: 12rem;
      }

      @media (min-width: 768px) {
        margin-top: 11rem;
      }

      @media (max-width: 767px) {
        margin-top: 9rem;
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1279px) {
    .title {
      font-size: 28px;
    }

    .btn {
      font-size: 1.3rem;
    }
  }

  .product-item-visual {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: $white;
    width: 100%;
  }

  .promotional-tile {

    &.same-height-block {
      position: relative;
      padding: 0;
    }

  }

  .text-holder {
    position: absolute;
    padding: 10px;
    left: 0;

    &.center {
      top: 50%;
      margin-top: -50px;

    }

    &.top {
      top: 10px;
      font-size: 43px;

    }

    &.bottom {
      bottom: 10px;
    }

    .btn-primary:hover {
      color: $white;
      background-color: $theme-colors-secondary;
      border-color: $theme-colors-secondary;
    }

  }







}
