/* product-details styles */
.details-block {
	overflow: hidden;
	padding: 0 0 4rem;

	@include media-breakpoint-up (lg) {
		padding: 0 0 6.6rem;
	}

	.heading-block {
		text-align: center;

		@include media-breakpoint-up (md) {
			text-align: left;
			width: 61%;
			float: right;
			margin: 0 0 1.3rem;
		}

		@include media-breakpoint-up (lg) {
			width: 58%;
		}

		.subtitle {
			color: theme-color("primary");
			font: italic 2rem/2.2rem $font-playfair;
			letter-spacing: 2.73px;
			display: block;
			margin: 0 0 .8rem;
		}

		.title-block {
			letter-spacing: 3.55px;
			font-size: 2.3rem;
			line-height: 2.8rem;
			display: block;
			color: $blue-700;
			margin: 0 0 .9rem;

			@include media-breakpoint-up (md) {
				font-size: 2.6rem;
			}
		}

		.volume {
			font-size: 1.3rem;
			line-height: 1.6rem;
		}
	}

	.img-block {

		@include media-breakpoint-up (md) {
			width: 39%;
			float: left;
			padding: 0 2rem 0 0;
		}

		@include media-breakpoint-up (lg) {
			width: 36%;
		}

		img {
			width: 100%;
			height: auto;
			max-width: 100%;
		}
	}

	.info-area {
		@include media-breakpoint-up (md) {
			width: 61%;
			float: right;
		}

		@include media-breakpoint-up (lg) {
			width: 58%;
		}
	}

	.price {
		display: block;
		color: theme-color("primary");
		font-size: 2.6rem;
		line-height: 2.8rem;
		line-height: 3rem;
		margin: 0 0 1rem;

		@include media-breakpoint-up (md) {
			font-size: 2.8rem;
			line-height: 3rem;
		}
	}

	.text-block {
		line-height: 1.7rem;
		margin: 0 0 2.5rem;

		@include media-breakpoint-up (lg) {
			line-height: 1.9rem;
		}

		p {
			margin: 0 0 2rem;
		}
	}

	.powered-block {
		@include media-breakpoint-up (md) {
			text-align: right;
		}

		.holder {
			@include media-breakpoint-up (md) {
				text-align: left;
			}
		}

		.block-title {
			margin: 0 .5rem 0 0;
		}

		.holder,
		.link,
		.info-circle {
			@include media-breakpoint-up (md) {
				margin: 0 0 1.7rem;
			}
		}
	}
}

.detail-form {
	.btn {
		width: 100%;

		@include media-breakpoint-down (md) {
			padding: 1.8rem 1rem;
			margin: 0 0 2.5rem;
		}

		&:after,
		&:before {
			bottom: .5rem;

			@include media-breakpoint-up (lg) {
				bottom: .9rem;
			}
		}

		&:before {
			left: 0;
			transform: rotate(-2deg);
			box-shadow: 7px 6px 10px #333;

			@include media-breakpoint-up (lg) {
				box-shadow: 7px 10px 10px #333;
			}
		}

		&:after {
			right: 0;
			transform: rotate(2deg);
			box-shadow: -7px 6px 10px #333;

			@include media-breakpoint-up (lg) {
				box-shadow: -7px 10px 10px #333;
			}
		}
	}

	.jcf-select {
		margin: 0 0 1.7rem;

		@include media-breakpoint-up (md) {
			margin: 0 0 1.7rem;
		}

		.jcf-select-text {
			text-align: center;
			margin: 0 2.5rem 0 1.5rem;
		}
	}
}

/* category description styles */

.description-frame {
	padding: 2.9rem 0 0;
	margin: 0 0 -1.1rem;

	.block-title {
		color: $blue-700;
		font-weight: 700;
		font-size: 2.6rem;
		line-height: 2.8rem;
		letter-spacing: 3.55px;
		display: block;
		margin: 0 0 1.2rem;
	}

	p {
		margin: 0 0 4rem;
	}
}
#you-might-like-section{

  @media (max-width: 900px) and (orientation: landscape) {
    .product-template{
      height: 445px;
    }
    .product-item {
      height: 33rem;
    }
  }
  @media (min-height: 380px) and (max-height: 500px) and (orientation: landscape) {
    .product-template{
      height: 455px;
    }
    .product-item {
      height: 36rem;
    }
  }
  //@media (max-width: 900px) and (orientation: landscape) {

  //}

  .slick-dots{
		bottom:-1rem;
	}.product-template {
       &:focus {
         outline: none;
       }
      padding-left: 11.5px;
      padding-right: 11.5px;

      @include media-breakpoint-down(sm) {
        padding-left: 8.5px;
        padding-right: 8.5px;
      }
     }
  .product-item {
    margin-bottom: 0;
    &:focus {
      outline: none;
    }
    .img-holder {
      img {
        max-width: 80%;
        @include media-breakpoint-up(lg) {
          max-width: 78%;
        }
        @media (min-width: 1440px) {
          max-width: 82%;
        }
        @media (min-width: 1900px) {
          max-width: 58.5%;
        }
        @media (max-height: 670px) {
          max-width: 77%;
        }
      }
    }
    @include media-breakpoint-only(md) {
      height: auto;
      .h2 {
        font-size: 1.5rem;
      }
    }
    .btn {
      @include media-breakpoint-down(sm) {
        top: 20%;
      }
      @media (max-width: 320px) {
        top: 35.5%;
      }
      @media screen and (max-width: 900px) and (orientation: landscape){
        top: 13%;
      }
      @media (min-height: 380px) and (max-height: 500px) and  (orientation: landscape) {
        top: 4%;
      }
      //@media screen and (max-width: 900px) and (orientation: landscape){

      //}
    }
  }
}
