.filter-holder {
  font-size: rem-calc(13px);
  color: #292a2a;
  background-color: $gray-300;
  padding: rem-calc(11px 0);

  @include media ('>=desktop') {
    margin-bottom: rem-calc(26px);
  }

  .container-fluid {
    display: flex;
  }

  .filter-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .left-filter {
    display: flex;
    align-items: center;

    @include media ('>=tablet') {
      max-width: rem-calc(220px);
      margin-right: rem-calc(20px);
    }

    @include media ('>=desktop') {
      max-width: rem-calc(600px);
    }

    p {
      margin: 0;
    }
  }

  .product-type {
    max-width: 225px;
    padding-right: rem-calc(5px);

    @include media ('>=sm-phone') {
      padding-right: rem-calc(10px);
    }

    @include media ('>=tablet') {
      max-width: 275px;
      padding-right: rem-calc(20px);
    }

    .jcf-select {
      min-width: rem-calc(190px);
    }
  }

  .right-filter {
    display: flex;
    align-items: center;

    @include media ('>=tablet') {
      padding-right: rem-calc(10px);
    }
  }

  .filter-opener {
    text-align: right;
    font-size: rem-calc(11px);

    @include media ('>=sm-phone') {
      font-size: rem-calc(13px);
    }
  }

  .filter-block {
    margin-bottom: rem-calc(53px);
  }

  .more-filters {
    text-align: right;

    @include media ('>=tablet') {
      text-align: left;
    }

    @include media ('>=desktop') {
      margin-right: rem-calc(25px);
    }

    h1 {
      font-size: rem-calc(28px);
      letter-spacing: .7px;
      margin-bottom: rem-calc(17px);
      color: $gray-600;

      @include media ('>=tablet') {
        margin-bottom: rem-calc(30px);
      }
    }

    h2 {
      width: calc(100% - 50px);
      margin-bottom: rem-calc(2px);
      font-family: $font-family-brandon;
      color: $red;
      font-weight: 900;
      text-transform: uppercase;
    }

    h3 {
      font-weight: 500;
      color: #292a2a;
      font-size: rem-calc(15px);
      margin-bottom: rem-calc(13px);
    }

    .sort-group {
      display: block;
      max-width: 100%;
      padding-right: rem-calc(15px);
      margin-bottom: rem-calc(21px);

      @include media ('>=tablet') {
        display: none;
      }
    }

    .slide {
      @include animate(left);

      position: absolute;
      top: rem-calc(62px);
      left: - 100%;
      bottom: 0;
      width: 100%;
      background-color: #f9f9f9;
      text-align: left;
      padding: rem-calc(34px);
      overflow-y: auto;
      z-index: 1;

      @include media ('>=sm-phone') {
        padding: rem-calc(34px 34px 34px 58px);
      }

      @include media ('>=tablet') {
        left: rem-calc(-371px);
        padding: rem-calc(34px 34px 30px 56px);
        width: rem-calc(371px);
      }

      @include media ('>=widescreen') {
        left: rem-calc(-371px);
        padding: rem-calc(30px 30px 30px 50px);
        width: rem-calc(371px);
      }

      .filter-active & {
        left: 0;
      }
    }

    .close {
      @include animate(opacity);

      position: absolute;
      top: rem-calc(13px);
      right: rem-calc(13px);
      width: rem-calc(16px);
      height: rem-calc(16px);

      &:before,
      &:after {
        @include animate(background-color);

        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: rem-calc(20px);
        height: rem-calc(2px);
        background-color: $gray-700;
      }

      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    .title-box {
      display: flex;
    }

    .btn-holder {
      text-align: center;
      max-width: rem-calc(260px);
      font-size: rem-calc(14px);

      .btn {
        width: 100%;
        margin-bottom: rem-calc(22px);
        font-size: rem-calc(16px);
      }
    }

    .clear {
      width: rem-calc(46px);
      align-items: flex-start;
      text-align: right;
    }

    .clear,
    .more {
      display: block;
      font-size: rem-calc(15px);
      text-decoration: none;
    }
  }

  .sort-group {
    display: none;

    @include media ('>=tablet') {
      display: flex;
      align-items: center;
    }

    h2 {
      margin-bottom: rem-calc(10px);
    }

    label {
      padding: rem-calc(0 15px);
      margin: 0;
    }

    .jcf-select {
      min-width: rem-calc(163px);
    }
  }

  .info {
    display: none;

    @include media ('>=desktop') {
      display: block;
      margin-right: rem-calc(8px);
    }
  }

  #disclaimer-mobile{
    background: #c5c5c5;
    margin: 1rem auto 0 auto;
    padding: 1rem;
    p {
      margin: auto;
    }
  }
}

.slogan-box {
  display: none;
  align-items: center;
  width: rem-calc(50px);
  padding: rem-calc(0 7px);

  @include media ('>=tablet') {
    padding: rem-calc(0 5px);
    max-width: rem-calc(220px);
    width: auto;
    flex-shrink: 0;
  }
@include media ('>=desktop') {
  display: flex;
}
  @include media ('>=widescreen') {
    max-width: rem-calc(220px);
    width: auto;
    padding: rem-calc(0 3px);
  }
  .logo-holder {
    padding: 0 1rem;
  }
}

.slogan {
  display: none;
  font-size: rem-calc(14px);
  font-weight: 800;
  color: $red;

  @include media ('>=tablet') {
    display: block;
    //margin-right: rem-calc(10px);
    flex-shrink: 0;
  }
}

.info-circle {
  position: relative;
  top: 0;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  width: rem-calc(20px);
  height: rem-calc(20px);

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $red;
    font-size: rem-calc(20px);
  }
}

.product-items {
  position: relative;
  padding-bottom: rem-calc(40px);

  @include media ('>=tablet') {
    padding-bottom: rem-calc(27px);
  }

  @include media ('>=desktop') {
    padding-bottom: rem-calc(40px);
  }

  .filter-active & {
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }

  &:after {
    @include animate(opacity visibility);

    content: '';
    position: absolute;
    top: rem-calc(62px);
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($gray-700, .4);
    opacity: 0;
    visibility: hidden;
  }
}

.product-collection {
  margin-bottom: rem-calc(18px);

  [class*="col-"] {
    margin-bottom: rem-calc(40px);

    @include media ('>=tablet') {
      margin-bottom: rem-calc(5px);
    }

    @include media ('>=desktop') {
      margin-bottom: 0;
    }
  }
}

.product-item {
  @include animate(background-color);

  position: relative;
  height: 100%;
  padding: rem-calc(27px 16px 32px);
  margin: rem-calc(0 -15px);
  font-size: rem-calc(12px);
  @include media ('<sm-phone') {
    margin: 0;
  }
  @include media ('>=sm-phone') {
    padding: rem-calc(27px 16px 53px);
    margin: 0;
  }

  @include media ('>=tablet') {
    padding: rem-calc(24px 28px 53px);
    margin: 0;
  }

  @include media ('>=desktop') {
    padding: rem-calc(20px 40px 73px);
    font-size: rem-calc(16px);
    font-weight: 500;
  }

  &.added {
    background-color: #eee;

    .in-cart {
      opacity: 1;
      visibility: visible;
    }
  }

  &:hover {
    background-color: $gray-400;
    @include media-breakpoint-down(sm) {
      background-color: inherit;
    }
    .add-cart {
      opacity: 1;
    }
  }

  p {
    margin-bottom: 6px;

    @include media ('>=sm-phone') {
      margin-bottom: 0;
    }
  }

  .h2 {
    display: block;
    font-size: rem-calc(15px);
    margin-bottom: 0;
    font-weight: 700;
    @include media ('<=sm-phone') {
      font-size: rem-calc(12px);
    }
    @include media ('>=sm-phone') {
      margin-bottom: rem-calc(0px);
    }

    @include media ('>=tablet') {
      font-size: rem-calc(22px);
      margin-bottom: rem-calc(4px);
    }

    @include media ('>=desktop') {
      font-size: rem-calc(28px);
      line-height: 1;
    }
    @media (min-width: 1024px) and (max-width: 1260px) {
      font-size: 2.4rem;
    }
    @media (min-width: 1900px) {
      margin-bottom: 1rem;
    }
  }

  .img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: rem-calc(122px);
    //margin-bottom: rem-calc(12px);
    margin-bottom: rem-calc(5px);

    //@include media ('>=tablet') {
    //  margin-bottom: rem-calc(20px);
    //}

    @include media ('>=desktop') {
      min-height: rem-calc(212px);
      //margin-bottom: rem-calc(34px);
    }
    //@media (min-width: 1441px) and (max-width: 1899px) {
    //  margin-bottom: rem-calc(20px);
    //}
    //@media(min-width: 1900px) {
    //  margin-bottom: 0;
    //}
    img {
      vertical-align: bottom;
      max-width: 80%;
      width: 100%;

      @media (min-width: 1900px) {
        max-width: 60%;
      }
    }
  }

  .price-holder {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: rem-calc(6px);
    right: rem-calc(6px);
    color: $red;
    padding: rem-calc(5px 0);
    border-top: 1px solid $gray-700;
    font-size: rem-calc(16px);
    min-height: 3.5rem;

    @include media ('>=tablet') {
      left: rem-calc(16px);
      right: rem-calc(16px);
    }

    @include media ('>=desktop') {
      left: rem-calc(10px);
      right: rem-calc(10px);
      bottom: 0;
      font-size: rem-calc(18px);
      padding: rem-calc(7px 0 7px);
    }
    @include media-breakpoint-up (xl) {
      left: rem-calc(20px);
      right: rem-calc(20px);
      bottom: 0;
      font-size: rem-calc(18px);
      padding: rem-calc(7px 0 7px);
    }
  }

  .price {
    max-width: calc(100% - 2.1875rem);
    font-size: rem-calc(14px);

    @include media ('>=sm-phone') {
      font-size: rem-calc(16px);
    }

    @include media ('>=tablet') {
      max-width: calc(100% - 5rem);
    }

    @media (min-width: 1900px) {
      font-size: rem-calc(22px);
    }
  }

  .add-cart {
    @include animate(opacity background-color color);

    position: absolute;
    top: 100%;
    left: rem-calc(10px);
    right: rem-calc(10px);

    @include media ('>=tablet') {
      min-width: rem-calc(170px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: rem-calc(7px 5px);
      font-size: rem-calc(16px);
      width: auto;
      opacity: 0;
    }

    @include media ('>=desktop') {
      min-width: rem-calc(259px);
    }

    &:focus {
      opacity: 1;
    }
  }

  .in-cart {
    @include animate(opacity visibility);

    background-color: #e8c0c1;
    border: 1px solid #e08688;
    opacity: 0;
    font-size: rem-calc(10px);
    visibility: hidden;
    color: $gray-700;
    margin-right: -12px;
    border-radius: 1.25rem;
    font-weight: 400;

    @include media ('>=tablet') {
      font-size: rem-calc(12px);
      padding: rem-calc(3px 16px);
      margin-right: 0;
    }

    @include media ('>=widescreen') {
      bottom: rem-calc(20px);
      right: rem-calc(15px);
      padding: rem-calc(5px 15px);
    }
     @include media-breakpoint-down(sm) {
       margin-right: initial;
     }
    @media (min-width: 1900px) {
      font-size: rem-calc(22px);
    }
  }
}

.product-nav {
  padding: rem-calc(17px 0);
  text-align: center;
  @include media-breakpoint-down (sm) {
    padding: 3.5rem 0 1.7rem 0;
  }
  .slider {
    position: relative;
    padding: .625rem 2.8125rem;
    font-size: 1.125rem;

  }

  .arrow {
    @include animate(background-color);

    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear;
    position: absolute;
    top: 50%;
    right: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 3.4375rem;
    height: 3.4375rem;
    border-radius: 50%;
    background-color: #8a8c8e;
    font-size: 1.375rem;
    text-decoration: none;
    cursor: pointer;
    &:before {
      content: "\e901";
      font-family: icomoon;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 2.5rem;
    }

    &.right {
      right: auto;
      left: 100%;

      &:before {
        content: '\e900';
      }
    }

    &.disabled {
      background-color: #b5b5b5;
    }

    &:hover {
      background-color: #b5b5b5;
    }
    &.link-disable {
      pointer-events: none;
      color: #848484;
      cursor: not-allowed;
    }
  }
}
