// product-item-2
.product-template {
  color: #8a8c8e;
  .product-item {
    margin-bottom: 2rem;
    text-align: center;
    padding: 2rem 0rem 3rem;
    height: 38.5rem;
    /*--new--*/
    position: relative;
    width: 100%;

    .product-sub {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
    }
    @include media-breakpoint-down (sm) {
      padding: 1rem .5rem 2.3rem;
      height: 23rem;
      margin-top: 2.8rem;

    }
    @include media ('<=sm-phone') {
      height: 21rem;
    }
    @include media-breakpoint-up (sm) {
      padding: 1rem 1rem 2.3rem;
      height: 37.5rem;

    }

    @include media-breakpoint-up (md) {
      padding: 0rem 1.5rem 3.5rem;
      height: auto;
    }
    @include media-breakpoint-up (lg) {
      padding: 0rem 1rem 5.1rem 1rem;
      height: auto;
    }

    @include media-breakpoint-up (xl) {
      padding: 1rem 2rem 5.1rem;
      height: auto;
    }
    @media (min-width: 1350px) {
      height: auto;
    }
    @media screen and (max-height: 550px) and (max-width: 800px) and (orientation: landscape) {
      height: 28.5rem;
    }
    @media screen and (max-height: 450px) and (max-width: 800px) and (orientation: landscape) {
      height: 26.5rem;
    }
    @media screen and (max-height: 390px) and (max-width: 800px) and (orientation: landscape) {
      height: 23.5rem;
    }
    //@media (min-width: 1440px) {
    //  height: 45.5rem;
    //}
    //@media (min-width: 1500px) {
    //  //height: 47.5rem;
    //  height: auto;
    //}
    &:after {
      @extend %transition;
      @include animate(visibility opacity);

      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to top, rgba(238, 238, 238, 0) 0%, rgba(235, 235, 235, 0) 8%, rgba(216, 216, 216, 0.53) 100%);
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      @include media-breakpoint-down(sm) {
        background-image: none;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        visibility: visible;
      }

      .btn {
        visibility: visible;
        opacity: 1;
      }
    }

    .img-wrap {
      min-height: 16.9rem;
      height: 255px;
      display: flex;
      /*--new--*/
      line-height: 1.7rem;
      margin-bottom: 0rem;
      align-items: center;

      @include media-breakpoint-up (xs) {
        height: auto;
      }

      @include media-breakpoint-up (md) {
        line-height: 18.2rem;
        min-height: 18.2rem;
      }

      @include media-breakpoint-up (lg) {
        min-height: 20.2rem;
        line-height: 28.2rem;
        margin-bottom: 1.6rem;
      }

      img {
        vertical-align: bottom;
        max-width: 100%;
        max-height: 256px;
        height: auto;
        margin: auto;
      }
    }

    .title {
      color: theme-color("primary");
      font: italic 1.8rem/2.4rem $font-playfair;
      text-transform: capitalize;
      display: block;
      margin-bottom: 1rem;

      @include media-breakpoint-up (md) {
        margin-bottom: .9rem;
      }

      @include media-breakpoint-up (lg) {
        margin-bottom: 1.1rem;
      }
    }

    h4,
    .h4 {
      margin: 0 0 1rem;
      color: #3d4144;

      @include media-breakpoint-down (md) {
        font-size: 2rem;
        line-height: 1;
        margin: 0 0 .2rem;
      }
    }

    .size {
      color: $theme-colors-dark;
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-weight: normal;
      display: block;
      margin-bottom: .2rem;

      @include media-breakpoint-up (md) {
        margin-bottom: .9rem;
      }
    }

    .prise {
      color: theme-color("primary");
      font: 700 2.2rem/2.6rem $font-playfair;
      position: absolute;
      left: 2rem;
      right: 2rem;
      bottom: 0;
      display: block;
      padding: .4rem 0 0;

      @include media-breakpoint-up (lg) {
        padding: .9rem 0 0;
        bottom: 1.6rem;
      }

      &:before {
        @include size(3.4rem, .1rem);

        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        background: theme-color("primary");

        @include media-breakpoint-up (lg) {
          @include size(6.6rem, .1rem);
        }
      }
    }

    .btn {
      @include animate(visibility opacity background);
      @media screen and (max-width: 900px) and (max-width: 800px) and (orientation: landscape) {
        top: 9%;
      }
      position: absolute;
      top: 35%;
      left: 50%;
      width: 85%;
      transform: translate(-50%);
      padding: .9rem 1.2rem;
      max-width: 31.4rem;
      opacity: 0;
      visibility: hidden;
      color: $white;
      z-index: 4;
      &:hover{
        color: $white;
      }


      @include media-breakpoint-down (md) {
        padding: .5rem 0;
        width: 100%;
      }
      @include media-breakpoint-up (md) {
        padding: 1rem 1.4rem 0.9rem;
      }

      @include media-breakpoint-up (lg) {
        padding: 1rem 1.4rem 0.9rem;
      }
      @media (max-width: 500px) {
        top: 6%;
      }
      @media (max-width: 414px) {
        font-size: 1.4rem;
        top: 11%;
      }
      @media (max-width: 375px) {
        top: 12%;
      }
      @media (max-width: 360px) {
        top: 13.5%;
      }
      @media (max-width: 320px) {
        top: 25.5%;
      }
      &:after,
      &:before {
        display: none;
      }
    }
    .pickup-link {
      color: inherit;
    }
  }

}
