#retailerSelectionDropDown {
  .tab-content {
    background: #e3e3e3;
  }
  .delivery-tabset {
    @extend %listreset;

    display: flex;
    flex-wrap: wrap;
    margin: rem-calc(-2px -38px);
    padding: rem-calc(0 20px);
    li {
      background: #d7d7d7;
      @include animate(background-color);

      display: block;
      font-size: rem-calc(14px);
      width: 50%;
      padding: rem-calc(14px 20px 12px);

      //@include media ('>=sm-phone') {
      //  font-size: rem-calc(16px);
      //}

      &.active {
        // background-color: $gray-300;
        background-color: #e3e3e3;
        a {
          color: $gray-700;
          border-color: $gray-700;
        }
      }
      a {
        color: $gray-700 !important;
        border-color: $gray-700;
        cursor: pointer;
      }
    }

    a {
      display: block;
      text-decoration: none;
      border-bottom: 1px solid $gray-700;
      font-weight: 500;
      // color: $gray-700;
      color: $gray-700;

      &:hover {
        color: $red;
      }
    }
  }

  #delivery {
    padding: rem-calc(5px 0);

    .jcf-select {
      margin-bottom: rem-calc(50px);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #grocery {
    padding: rem-calc(15px 0 0);
    .jcf-scrollbar-horizontal {
      display: none;
    }
  }
  .btn-holder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    @include media ('>=desktop') {
      font-size: rem-calc(14px);
    }

    .close-slide {
      font-family: $font-family-avenir;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.33;
      text-transform: capitalize;
      color: $red;
      padding: 0 2rem;
      text-decoration: underline;
      border-bottom: none !important;
      &:hover{
        color: #87060b;
      }
    }
  }

  .btn {
    min-width: rem-calc(230px);
    font-size: rem-calc(16px);
  }
  #header-three .location-box .slide .jcf-select-distance-select {
    max-width: 70%;
  }
}
