#review-order {
   color: #3a3738;
  .my-account.payment-info,
  .address-info {
    background: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }

  .checkout-item .checkout-title .btn {
    position: absolute;
    right: 0.5rem;
    top: 1rem;

    @media (max-width: 767px) {
      padding: 0;
      background: none;
      border: none;
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      text-decoration: underline;
      text-transform: capitalize;
      right: 1rem;
    }

    @media (min-width: 768px) {
      top: 0.1rem;
      padding: 6px 19px 4px;
    }

    @media (min-width: 992px) {
      min-width: 141px;
      top: 0.5rem;
      right:1rem;
    }
  }

  @media (min-width: 768px) {
    .checkout-item.address-info {
      padding: 17px 5px 19px 10px;
    }
  }

  @media (min-width: 992px) {
    .checkout-item.address-info {
      padding: 12px 5px 19px 15px;
    }
  }
  .item-block{
    padding-bottom: 40px;
    .details {
      width: 70%;
       @include media-breakpoint-up (md) {
         width: 100%;
      }
      @include media-breakpoint-down(sm) {
        padding-bottom: 20px;
        width: 100%;
      }
    }
  }

  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  .checkout-item.address-info {
    background: #f0f0f0;
    padding: 17px 10px 17px 26px;
    position: relative;
  }

  .address-info {
    padding: 1em 1em;
    font-size: 16px;
  }

  .checkout-item address span {
    display: block;
    margin: 0 0 5px;
  }
  .review-order-border{
    border-bottom-color: #c9c9c9;
    padding-left: 3rem;
  }
  .address-info {
    .decorated-title {
      border: none;

      @media (max-width: 767px) {
        padding-right: 6rem;
      }
    }
  }
  .item-block+.item-block {
    border-top: 1px solid #bababa;
  }
  .item-block .price {
    font-size: 18px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 18px;
  }
  .item-block .pdt-title-mt {
    margin-top: 2rem;
  }
  .item-block {
    .details {
      width: 70%;
      @include media-breakpoint-up (md) {
        width: 100%;

      }
    }
  }
  .cart-widget .checkout-info.total, .price, .product-item .text-holder .price {
    color: #d00a11;
  }

  .price {
    text-transform: uppercase;

    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
  @media (min-width: 992px) {
    .price {
      font-size: 28px;
    }
  }
  .delivery-note-more {
    white-space: pre-line;
    overflow-wrap: break-word;
    -ms-word-wrap: break-word;
    word-break: break-all;
  }
}
