#addresses {
  .address-info {
    //background: #ffffff;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 20px;
    padding: 1em 1em;
    font-size: 16px;
    display: flex;
  .btn-groupe{
    display: grid;
    align-items: flex-end;
    text-align: end;
  }
  }
  .edit_btn,
  .checkout-item .edit_btn {
    font-size: 16px;
    /* padding: 0 1em; */
    color: #D00A11;
    font-weight: 300;
    z-index: 999;
  }
  table {
    thead {
      th {
        border-top: none;
        border-bottom: 1px solid #cfcfcf;
      }
    }
    tbody {
      td {
        border-bottom: 1px solid #cfcfcf;
      }
    }
  }
  #account-payment {
    .card {
      display: block;
      background-color: transparent;
    }
    @media (max-width: 767px) {
      .my-account.payment-info {
        background: transparent;
        padding: 15px 0;
        border-bottom: 1px solid #d6d6d6;
        margin-bottom: 20px;
      }
      #payment-info-delete-link-mob, #payment-info-delete-link-mobview {
        padding: 0.25rem 0.8rem;
        font-size: 2rem;
        line-height: 1.5;
        border-radius: 2em;
      }
    }
    table {
      tbody {
        td {
          padding: 12px 0;
        }
      }
    }
  }
}
