

#shopping-cart {
  z-index: 1000000;
  margin-top: 3.5rem;
  .custom-scrollbar {
    height: 100%;
    width: 585px;
    //display: none;
    @include media-breakpoint-down(sm) {
      height: 100%;
      width: 98%;
      //display: block;
      .bar--container {
        //height: calc(100vh - 36rem);
        height: calc((var(--vh, 1vh) * 100) - 30.5rem);
        @media (min-height: 815px) {
          height: 80%;
        }
      }
      //.bar--wrapper {
      //  height: 100% !important;
      //}
      .bar--vertical {
        margin: 0 !important;
      }
    }
    @media (max-width: 320px) {
      .bar--container {
        height: 80%;
      }
    }
    @include media-breakpoint-up(sm) {
      .bar--vertical {
        display: none;
      }
      .bar--wrapper {
        width: 100% !important;
        overflow-y: hidden!important;
        //overflow-y: scroll!important;
      }
    }
    @media screen and  (max-width:768px) and (orientation: landscape) {
      .bar--wrapper {
        overflow-y: scroll!important;
      }
    }
  }
  .cart-empty {
    .bar--container {
      @media screen and (max-height: 1000px) and (orientation: landscape) {
        height: 90%;
      }
    }
  }
  .min-amount-min {

    .custom-scrollbar {
      @include media-breakpoint-down(sm) {
        .bar--container {
            //height: calc(100vh - 44.9rem);
            height: calc((var(--vh, 1vh) * 100) - 40rem);
          @media (min-height: 815px) {
            height: 70%;
          }
        }
      }
      @media (max-width: 320px) {
        .bar--container {
          height: 40%;
        }
      }
    }
  }
  .items-list {
    padding-bottom: 10rem !important;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 31rem);
    max-height: calc(100vh - 31rem);
    @media (max-height: 768px){
      padding-bottom: 14rem !important;
    }
    @media (max-height: 680px){
      padding-bottom: 11.5rem;
    }
    @include media-breakpoint-down(sm) {
      padding-bottom: 2rem !important;
      height: auto;
      max-height: none;
    }
    //&::-webkit-scrollbar {
    //  width: 0px;  /* remove scrollbar space */
    //  background: transparent;
    //}
    //@supports (-webkit-overflow-scrolling: touch) {
    //  @media (max-width: 400px) {
    //    padding-bottom: 8rem;
    //  }
    //}
    &.min-amount {
      height: calc(100vh - 38rem);
      max-height: calc(100vh - 38rem);
      @include media-breakpoint-down(sm) {
        height: auto;
        max-height: none;
        }
    }
  }
  #main-cart-heading {
    font-size: 2.5rem;
    @media (max-width: 320px) {
      font-size: 2rem;
    }
  }
  h3 {
    font-family: "brandon", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .coupon-offer {
    .error-box {
      position: relative;
      padding: 15px;
      border-radius: 5px;
      background-color: $theme-colors-danger;
      text-align: left;
      height: 50px;
    }

    .carrot-bottom {
      position: absolute;
      bottom: -7px;
      right: 35px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 7px;
      border-color: transparent transparent $theme-colors-danger;
      transform: rotate(180deg);
    }

    .carrot-top {
      position: absolute;
      top: -6px;
      right: 35px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 7px;
      border-color: transparent transparent $theme-colors-danger;
      transform: rotate(0deg);
    }

    &.p {
      color: $white;
      font-size: 14px;
      line-height: 1.21;
    }
  }
  .item-removed-popup {
    margin-top: 1rem;
    .coupon-offer {
      background-color: #d00a11;
      color: white;
    }
    .carrot {
      border-color: transparent transparent #d00a11;
    }
    .btn-tertiary {
      border-radius: .5rem;
      font-weight: 600;
      letter-spacing: .2rem;
      cursor: default;
      &:focus, &.focus {
        -webkit-box-shadow: 0 0 0 0.2rem #fdfcfc;
        box-shadow: 0 0 0 0.2rem #fdfcfc;
      }

    }
  }
  .alert-light {
    border-radius: .8rem;
    min-height: 115px;
  }
  .cart-section {
    margin: 0 0 25px 0;
    padding: 9px 0 32px 0;
    position: relative;
    @include media-breakpoint-up (md) {
      margin: 0;
      padding: 0;
    }

   /*  .items-list-holder {
      // height: calc(100vh - 4rem);
      height: calc(100vh - 1.5rem);
      height: calc((var(--vh, 1vh) * 100) - 1.5rem);
      padding-bottom: 200px;
      @include media-breakpoint-up (md) {
      padding-top: 1px;
      }
      @include media-breakpoint-up (xl) {
      padding-top: 1px;
      height: calc((var(--vh, 1vh) * 100) - 1.5rem);
      // height: calc(100vh - 4rem);
      }

      } */

    .items-list-holder {
      height: calc(100vh - 4rem);
      height: calc((var(--vh, 1vh) * 100) - 4rem);
      padding-bottom: 100px;
      @include media-breakpoint-up (md) {
        padding-top: 17px;
      }
      @include media-breakpoint-up (lg) {
        padding-top: 13px;
        // height: calc(100vh - 4rem);
      }
      @media (min-width: 834px) and (max-width: 1280px) {
        // height: calc(100vh - 11rem);
      }
      @media (min-height: 922px) and (max-height: 922px) {
        // height: calc(100vh - 11rem);
      }
      @include media-breakpoint-down(md) {
        // height: calc(100vh - 10rem);
      }
      //@supports (-webkit-overflow-scrolling: touch) {
      //  @media only screen and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 3) {
      //    height: calc(100vh - 15rem);
      //  }
      //}
    }

    .item-block {
      -webkit-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
      padding: 0.1rem 0.1rem 0.1rem;
      border-bottom: 1px solid #ccc;
      max-height: 15rem;
      //@include media-breakpoint-up (md) {
      //  padding: 22px 0 15px;
      //}

      .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .align-to-top {
        margin-top: -13px;
      }
      .img-holder {
        height: 90px !important;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        @include media-breakpoint-down(lg){
          display:flex!important;
          display: -webkit-flex!important;
          }
        .img-fluid {
          max-height: 14rem;
          @include media-breakpoint-down(sm) { max-height: 11rem; }
        }
      }

      .link:hover {
        text-decoration: underline;
      }
    }


    h3 {
      //font-size: 1.7rem;
      //font-weight: bold;
      padding-bottom: 1rem;
      .icon-cart-grided {
        font-size: 3.5rem;
      }
      &#cart-heading-1, &#main-cart-heading {
        border-bottom: 1px solid #626261;
      }
    }


  }
  .cart-widget{
    .decorated-title{
      padding: 0 .5rem .7rem;
      border-bottom: none;
      font-size: 17px;
    }
    .checkout-info{
     padding: 0.7rem 0.5rem;
    }
  }
  .footer-block {
    background-color: #e8e8e8;
    width: 600px;
    bottom: 0;
    height: 65px;
    position: absolute;
    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 60px;
    }
    //@supports (-webkit-overflow-scrolling: touch) {
    //  @media only screen and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 2){
    //    //position: relative;
    //    //bottom: 13rem;
    //  }
    //}
    @media(min-width: 1024px) {
      line-height: 5vh;
    }
  }
  //.align-bottom {
  //  @supports (-webkit-overflow-scrolling: touch) {
  //    @media only screen and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 2){
  //      //bottom: -22rem;
  //    }
  //  }
  //}
  .cart-amount {
    background: none;
    .checkout-info {
      dt {
        color: #626261;
      }
      dd {
        color: #D00A11;
      }
    }
  }
  .cart-amount-min {
    padding: 9px 13px 0;
    background: none;
    .checkout-info {
      padding: 0 0rem 0.5rem;
    }
    //  dt {
    //    color: #626261;
    //  }
    //  dd {
    //    color: #D00A11;
    //  }
    //}
    .min-height-info {
      p {
        font-size: 15px;
      }
    }
    @include media-breakpoint-down(sm) {
      padding: 9px 1px 0;
      dt {
        letter-spacing: initial;
      }
    }
    //.align-v-center {
    //  line-height: 90px;
    //  text-align: center;
    //}
  }
  .fixed-summary {
    border-top: .5px solid #cdcdcd;
    background-color: #f0f0f0;
    bottom: 65px;
    width: 600px;
    left: 0;
    position: absolute;
    @include media-breakpoint-down(sm) {
      width: 100%;
      bottom: 93px;
    }
    //@media (min-width: 415px) and (max-width: 767px) {
    //  width: 100%;
    //}
    //@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    //  position: relative;
    //  //bottom: -5rem;
    //}
    @supports (-webkit-overflow-scrolling: touch) {
      @media only screen and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 2){
        //min-height: 35rem;
        //position: relative;
        //bottom: 10.2rem;
      }
    }
    @media (max-width: 320px) {
      width: 340px;
    }
  }
}
