
#customer-signin{
  .link{
    text-decoration: underline;
    color: inherit;
    &:hover{
      color: inherit;
    }
  }
  .custom-top{
    padding:1.5rem 0;
  }

  .border-right-ash {
    @include media-breakpoint-up (md) {
      //border-right: 1.5px solid #626261;
      &::after {
        content: " ";
        display: block;
        position: absolute;
        height: 293px;
        background: #626261;
        width: 2.5px;
        left: 100%;
        top: calc(17% - 6px);
      }
    }
  }
  .checkout-signin-holder{
    padding: 0;


    .form-group-signin {
      margin-bottom: 2rem;
  }

  }
  .inputs-box{
    padding: 0;
    //padding-bottom: 5rem;
    border: none;
  }
  #forgot-password-form {
      .center-captcha {
        padding-left: 2rem;
        margin-left: 0;
        margin-bottom: 2rem;
        @include media-breakpoint-up(lg) {
          margin-left: 7rem;
        }
        @include media-breakpoint-only(md) {
          padding-left: 0;
        }
        @media(min-width: 992px) and (max-width: 1279px) {
          margin-left: 0;
        }
    }
  }
  .btn {
    font-size: 1.5rem;
    padding: 1.5rem 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
  }
  #forgot-form, #signin-form {
    .decorated-title {
      border-bottom: 1.5px solid #626261;
    }
  }
  @include media-breakpoint-up(md) {
    .ml-28 {
      margin-left: 28%;
    }
    padding-top: 30px;
  }
}
