#success-page {
  color: #3a3738;
  @include media-breakpoint-up (md) {
    width: 80%;
  }
  #delivery-method-label {
    color: $theme-colors-primary;
    font-size: x-large;
  }

  .text-center {
    strong {
      color: #4a4a4a;
      font-weight: 500;
    }

    .more {
      color: #4a4a4a;
    }

    h3 {
      color: $theme-colors-secondary;
      font-weight: 600;
    }
    h5 {
      text-transform: none;
    }
  }

  .decorated-title {
    border-bottom: none;
  }
  .checkout-info {
    padding-left: 2rem;
  }
  .address-info {
    background: #e7e7e7;
    border-bottom: 1px solid #8f9193;
    /* border-top: 1px solid #ddd; */
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 20px;
    .delivery-note {
      margin-right: -24px;
      margin-left: -24px;

      .delivery-note-info {
        color: #d00a11;
        font-size: 20px;
        font-weight: 600;
      }
      .delivery-note-more {
        white-space: pre-line;
        overflow-wrap: break-word;
        -ms-word-wrap: break-word;
        -ms-word-break: break-all;
        display: block;
        word-break: break-all;
      }
    }
  }
  .items-list-holder{
   .items-list{
     .item-block+.item-block {
       border-top: 2px solid #b9bbbd;
     }
     .item-block{
       dl{
        @include media-breakpoint-down(sm) {
          margin-top: 1rem;
        }
       }
       .details {
         width: 70%;
         @include media-breakpoint-down(sm) {
          width: 80%;
        }
          @include media-breakpoint-up (md) {
            width: 100%;

         }
       }
       .eta-box {
         font-size: 1.5rem;
         font-weight: 900;
         letter-spacing: 0.2px;
         /*padding-top: 8px;*/
       }
     }

   }
  }
  .delivery-info {
    padding-left: 8rem;
    @include media-breakpoint-down (md) {
      padding-left: 0;
    }
  }
  .payment-info {
    padding-left: 20rem;
    @include media-breakpoint-down (lg) {
      padding-left: 6rem;
    }
    @include media-breakpoint-down (sm) {
      padding-left: 0;
    }
  }
}
