.unsubscribe {
  #wrapper {
    min-height: calc(100vh - 360px);
    @media (min-height: 922px) {
      min-height: calc(100vh - 390px);
    }
  }
  #unsubscribe {
    //max-width: 850px !important;
    .outer-div {
      width: 100%;
      //border: .5px solid #565655 !important;
      margin: 45px 0 55px;
      border: none !important;
    }
    .border {
      width: 100%;
      border: .5px solid #565655 !important;
      margin: 45px 0 55px;
    }
    .header-logo {
      display: flex;
      width: 100%;
      justify-content: center;
      padding-top: 4em;

      img {
        height: 7em;
      }
    }
    .btn.btn-primary {
      width: 100%;
      font-size: 2.4rem;
      @include media-breakpoint-up(sm) {
        width: 30%;
      }
    }
    .info {
      font-size: 18px;
      margin: 20px 0 15px;
    }
    h2 {
      font-size: 2.4rem;
      font-weight: bold;
    }
    .form-group  {
      input {
        border: 1px solid #565655;
        &:focus, &:active {
          border: 1px solid #565655;
        }
      }
      outline: none;
      #forgot-password-email, #invalid-email-error {
        width: 50%;
        margin: auto;
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
    .form-control.is-invalid {
      border: 1px solid #d00a11;
      &:focus, &:active {
        border: 1px solid #d00a11;
      }
    }
    .bold {
      color: #000;
      font-weight: bold;
      font-size: 20px;
    }
    .form-check {
      label {
        color: #000;
        font-weight: bold;
      }
    }
    .btn-group {
      justify-content: center;
    }
  }
}
