#footerThree {
  #footer {
    padding: rem-calc(28px 0);

    @include media ('>=desktop') {
      padding: rem-calc(56px 0 30px);
    }

    .navbar-brand {
      width: rem-calc(110px);
      margin-bottom: rem-calc(21px);

      @include media ('>=tablet') {
        width: rem-calc(98px);
        margin-bottom: rem-calc(23px);
      }

      @include media ('>=desktop') {
        margin-bottom: rem-calc(38px);
      }

      img {
        width: 100%;
      }
    }
  }

  .footer-nav {
    margin-bottom: rem-calc(7px);
    padding-bottom: rem-calc(14px);
    border-bottom: 1px solid $gray-700;

    @include media ('>=tablet') {
      display: flex;
      justify-content: space-between;
      margin-bottom: rem-calc(14px);
    }

    .menu {
      @extend %listreset;

      margin-bottom: rem-calc(60px);

      @include media ('>=tablet') {
        max-width: calc(100% - 10.625rem);
        margin-bottom: 0;
      }
      @include media-breakpoint-down(sm) { 
        display: flex;
        margin-bottom: rem-calc(10px);
      }
    }

    li {
      display: block;
      margin-bottom: rem-calc(18px);
      text-transform: uppercase;
      font-size: rem-calc(9px);
      font-weight: 800;
      
      @include media-breakpoint-down(sm) {
        margin-right: rem-calc(25px);
      }
      @include media ('>=tablet') {
        margin: rem-calc(0 34px 0 0);
      }

      @include media ('>=desktop') {
        font-size: rem-calc(11px);
        margin-right: rem-calc(27px);
      }

      @include media ('>=tablet') {
        display: inline-block;
        vertical-align: middle;
      }
    }

    a {
      color: $gray-600;
      text-decoration: none;

      &:hover {
        color: $red;
      }
    }

    .logo {
      display: block;

      img {
        @include media ('>=tablet') {
          width: 21rem;
          height: 1.7rem;
        }
        @media (max-width: 767px) {
          max-width: 204px;
          width: 100%;
          height: auto;
        }
      }
    }

    .border-decoration {
      border-bottom: 2px solid $gray-600;
    }
  }

  .copyright-holder {
    font-size: rem-calc(8px);
    font-weight: 300;

    @include media ('>=desktop') {
      font-size: rem-calc(10px);
    }

    a {
      color: $gray-600;
      text-decoration: underline;

      &:hover {
        color: $red;
      }
    }
  }
}
