#header-three {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index : $zindex-fixed-header;
  #header {
    padding-top: rem-calc(8px);
    background: $gray-200;
    // box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.288);
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    // z-index: 1040;
    @include media ('>=tablet') {
      // min-height: rem-calc(135px);
    }

    @include media ('>=desktop') {
      position: relative;
      padding-top: rem-calc(23px);
      padding: rem-calc(8px);
      // min-height: rem-calc(150px);
      padding-bottom: 3rem;
    }

    .container-fluid {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @include media ('>=desktop') {
        display: block;
      }
    }
  }
  .fb-logout-button li{
    margin-left: -61rem;
    margin-right: -6rem;
    padding-bottom: 0.5rem;
  }

  .breadcrumb-nav {
    width: calc(100% + 1.875rem);
    margin: rem-calc(0 -15px);
    padding: rem-calc(5px 25px);

    @include media ('>=sm-phone') {
      padding: rem-calc(10px 20px);
    }

    @include media ('>=tablet') {
      padding: rem-calc(10px 25px);
    }

    @include media ('>=desktop') {
      top: 2.84rem;
      left: 1.5rem;
      width: 100%;
      position: relative;
      background-color: #e3e3e3;
      padding: 1.8rem 3rem;
    }

    a {
      text-decoration: none;
    }

    .breadcrumb {
      padding: 0;
      margin: 0;
    }

    .breadcrumb-item {
      color: #292a2a;
    }
  }

  .cart-holder {
    position: absolute;
    top: calc(50% - 1rem);
    right: 2rem;
    width: rem-calc(23px);
    height: rem-calc(20px);
    margin-left: rem-calc(3px);
    text-decoration: none;

    @include media ('>=sm-phone') {
      margin-left: rem-calc(18px);
    }

    @include media ('>=tablet') {
      position: absolute;
      right: rem-calc(20px);
      margin-left: 0;
    }

    @include media ('>=desktop') {
      right: 2rem;
      top: 6rem;
    }

    .opener {

      &:hover {
        i {
          color:$red;
        }
      }

      i {
        @include animate(color);

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: $gray-700;
        font-size: rem-calc(25px);
      }
    }

    .badge {
      position: absolute;
      top: rem-calc(-15px);
      right: rem-calc(-11px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: rem-calc(19px);
      height: rem-calc(19px);
      color: $white;
      font-size: rem-calc(13px);
      font-family: $font-family-avenir;
      line-height: 0;
      border-radius: 50%;
      background-color: $red;
    }

    .slide {
      display: none;
      position: absolute;
      right: rem-calc(-6px);
      top: calc(100% + 1.125rem);
      width: rem-calc(305px);
      padding: rem-calc(0 15px 15px);
      border-radius: 0 0 3rem 3rem;
      color: $gray-800;
      background-color: #f5f5f5;
      text-align: center;
      z-index: 2;

      @include media ('>=sm-phone') {
        padding: rem-calc(0 30px 15px);
        width: rem-calc(355px);
      }
      @media screen and (max-width: 1000px) and (orientation: landscape) {
        padding: rem-calc(0 30px 5px);
      }

      @include media ('>=tablet') {
        z-index: 4;
      }

      &:before{
        content: '';
        position: absolute;
        top: rem-calc(-20px);
        right: rem-calc(9px);
        border: 10px solid transparent;
        border-bottom: 10px solid #f5f5f5;
      }

      .h2 {
        display: block;
        color: $gray-700;
        font-size: rem-calc(28px);
        margin: 0;
        padding: rem-calc(8px 0);
        font-weight: 500;
        text-transform: capitalize;
        @media screen and (max-width: 1000px) and (orientation: landscape) {
          font-size: 2.2rem;
        }
      }
      @media screen and (max-width: 1000px) and (orientation: landscape) {
        p {
          margin-bottom: 0.1rem;
        }
      }

      .btn {
        width: 100%;
        margin-bottom: rem-calc(30px);
        background-color: $red;
        color: $white;
        border-radius: 5em;
        font-size: 1.6rem;
        @media screen and (max-width: 1000px) and (orientation: landscape) {
          font-size: 1.3rem;
          margin-bottom: 1rem;
        }
      }
      a{
        color : $red;
        text-decoration: underline;
      }
    }

    .product-box {
      display: flex;
      margin: rem-calc(0 -15px 20px);
      padding: rem-calc(8px 30px);
      background-color: rgba($gray-400, .25);
      text-align: left;

      @include media ('>=sm-phone') {
        margin: rem-calc(0 -30px 20px);
      }
      @media screen and (max-width: 1000px) and (orientation: landscape) {
        margin: rem-calc(0 -30px 10px);
      }

      .img-box {
        width: rem-calc(109px);
      }

      .text-box {
        width: calc(100% - 6.8125rem);
        padding: rem-calc(6px 17px);
      }

      .h3 {
        display: block;
        font-size: rem-calc(18px);
        font-family: $font-family-brandon;
        font-weight: 400;
        color: $red;
        margin-bottom: rem-calc(10px);
        @media screen and (max-width: 1000px) and (orientation: landscape) {
          font-size: 1.6rem;
        }
      }

      .price {
        color: $red;
        font-weight: 900;
        font-size: rem-calc(16px);
        @media screen and (max-width: 1000px) and (orientation: landscape) {
          font-size: 1.3rem;
        }
      }
    }
    .cart-sidebar{
      .cart-section{
        .btn{
          font-size: rem-calc(16px);
        }
      }
    }
  }

  .header-nav {
    @include animate(left);

    // position: absolute;
    // left: rem-calc(-336px);
    // top: rem-calc(-24px);
    // width: rem-calc(310px);
    // padding: rem-calc(80px 70px 15px 15px);
    // height: 100vh;
    // z-index: 3;
    // background-color: $gray-100;
    // overflow-y: auto;

    // @include media ('>=tablet') {
    // 	left: rem-calc(-680px);
    // 	width: rem-calc(680px);
    // 	padding: rem-calc(80px 148px 15px 33px);
    // }

    position: static;
    height: auto;
    // z-index: 3;
    display: flex;
    width: 100%;
    padding: 0;

    @include media ('>=desktop') {
      // height: 14rem;
    }

    // @include media ('>=desktop') {
    // 	position: static;
    // 	display: flex;
    // 	height: auto;
    // 	width: calc(100% - 2.5625rem);
    // 	padding: 0;
    // 	// margin-bottom: rem-calc(36px);
    // 	background-color: transparent;
    // }

    .nav-active & {
      left: 0;
    }

    // .navbar-brand {
    // 	margin-bottom: rem-calc(60px);

    // 	@include media ('>=tablet') {
    // 		margin-bottom: rem-calc(58px);
    // 	}

    // 	@include media ('>=desktop') {
    // 		margin: rem-calc(0 85px 0 0);
    // 	}
    // }

    .menu {
      @extend %listreset;

      font-size: rem-calc(16px);
      font-weight: 500;

      //
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      flex-direction: column-reverse;
      font-size: rem-calc(16px);

      @include media ('>=desktop') {
        position: relative;
        width: calc(100% - 5rem);
        flex-direction: row;
        align-items: flex-end;
      }

      .fb-logout-button {
        margin-left: -61rem;
        margin-right: -6rem;
        padding-bottom: 0.5rem;
      }
      // @include media ('>=desktop') {
      // 	display: flex;
      // 	flex-wrap: wrap;
      // 	// justify-content: space-between;
      // 	// align-items: flex-end;
      // 	align-items: center;
      // 	font-size: rem-calc(16px);
      // }
      .location-holder{
        cursor: pointer;
        .opener{
          span{
            border-bottom: solid 1px rgba(0,0,0,056);
          }
        }
        @include media ('>=desktop') {
          margin-left: 0rem;
        }
        @include media ('>=1230px'){
          margin-left: 4rem;
        }
        @include media ('>=1460px'){
          margin-left: 10rem;
        }
      }
      .nav-li {
        @include animate(border-color);
        cursor: pointer;
        // border-bottom: 1px solid $gray-600;
        border-bottom: none;
        margin-bottom: 0;
        // min-width: rem-calc(75px);
        // margin-bottom: rem-calc(44px);

        @include media ('>=desktop') {
          margin-bottom: 0;
          min-width: rem-calc(75px);
          width: 12vw;
        }

        &:hover,
        &:active {
          border-color: $red;
          // border-color:$gray-700;

          a {
            color: $red;
          }
        }


        &:first-child{
          display: none;
          margin-left: 1rem;
          @include media ('>=desktop'){
            display: block;
          }
        }
        &:nth-child(2){
          display: none;
          border-bottom: solid 1px rgba(0,0,0,056);
          @include media ('>=desktop'){
            display: block;
            min-width: 10rem;
            margin-left: 1rem;
          }
          @include media ('>=1154px'){
            margin-left: 4rem;
          }
          @include media ('>=1460px'){
            min-width: 20rem;
            margin-left: 6rem;
          }
        }

        &:last-child{
          display: none;
          // position: absolute;
          // right: 0;
          border-bottom: solid 1px rgba(0,0,0,056);
          margin-left: auto;
          margin-right: rem-calc(30px);
          @include media ('>=desktop'){
            display: flex;
            align-items: center;
            vertical-align: middle;
          }
          #user-account{
            width: 100%;
            .account-info{
              float: left;
              width: 100%;
            }
          }
        }

  /* account info styles */
  .account-info {
    @include media-breakpoint-up (md) {
      float: right;
      // padding: 0.8rem 2.5rem 0 0;
      position: relative;
    }

    &.loggined:hover {
      .account-drop {
        opacity: 1;
        visibility: visible;
      }

      .account-opener {
        .icon-arrow-d {
          transform: rotate(-180deg);
        }
      }
    }

    .account-opener {
      @include media-breakpoint-up (md) {
        // color: $white;
        line-height: 2rem;
        font-weight: 500;
      }

      @include media-breakpoint-up (lg) {

      }

      &:focus,
      &:hover {
        outline: none;
        color: $red;
      }

      .icon-arrow-d {
        @include media-breakpoint-up (md) {
          font-size: 2rem;
          line-height: 1;
          display: inline-block;
          vertical-align: top;
          margin: 0 0 0 1.4rem;
        }
      }
    }

    .account-drop {
      @include animate(opacity visibility);

      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      width: 100%;
      z-index: 99;
      padding-top: 1rem;
      opacity: 0;
      visibility: hidden;

      .wrap {
        background: $white;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        border-radius: 0 0 5px 5px;
        position: relative;
        .list-unstyled{
          .list-unstyled{
            li{
              a{
                &:hover{
                  background: $dropdown-link-hover-bg;
                  color: $white !important;
                }
              }
            }
          }
        }
      }

      ul {
        font-weight: 300;
        text-transform: capitalize;
        margin: 0;

        li {
          &.active {
            a {
              background: $red;
              color: $white !important;
            }
          }
        }

        a {
          @include animate(background color);

          display: block;
          padding: 4px 10px;
          color: #373737 !important;
          padding: 10px 15px 9px 22px;
          &:last-child{
            &:hover {
              background: $dropdown-link-hover-bg;
              color: $white !important;
            }
          }

          // &:first-child{
          //   &:hover{
          //     background: $white;
          //     color:  #373737 !important;
          //   }
          // }
        }

        ul {
          background: #ececec;

          li {
            margin: 0;
          }

          a {
            padding: 9px 15px 9px 36px;
          }
        }
      }
    }
  }
&.retailer-menu {
  display: none;
  border-bottom: none;
  @include media ('>=desktop') {
    display: block;
    min-width: 10rem;
    margin-left: 1rem;
    width: 28vw;
  }
  //@include media ('>=1154px'){
  //  margin-left: 4rem;
  //}
  @include media ('>=1460px'){
    min-width: 15rem;
    //margin-left: 6rem;
  }
  a {
    border-bottom: solid 1px rgba(0,0,0,056);
  }
}
      }

          li{
              .navbar-brand{
              width: 5rem;
              height: 5rem;
              @include media('>=tablet'){
                width: 6rem;
                height: auto;
              }
                  @include media('>=desktop'){
                  width: 15rem;
                  height: 100%;
                  }
              }
          }
      a {
        display: block;
        text-decoration: none;
        color: $gray-700;
        outline: none;
      }
      a.active {
        color: #d00a11 !important;
      }
    }
  }

  .location-holder {
    display: flex;
    align-items: center;
    margin: rem-calc(0 -15px 15px);
    // padding: rem-calc(0 15px);
    font-size: rem-calc(16px);
    @media (max-width: 767px) {
      width: 70vw;
    }
    @include media ('>=tablet') {
      font-size: rem-calc(16px);
      margin: 0;
    }

    @include media ('>=desktop') {
      display: flex;
      justify-content: flex-end;
      // background-color: $gray-300;
      background-color: transparent;
      margin: rem-calc(0 15px);
      width: 27vw;
    }

    .h6 {
      display: block;
      text-transform: uppercase;
      margin-bottom: rem-calc(4px);
      color: $gray-700;
      font-family: $font-family-brandon;
      font-weight: 900;
      text-align: left;
      font-size: 1rem;

      @include media ('>=tablet') {
        margin-bottom: rem-calc(6px);
        font-size: rem-calc(11px);
        text-align: left;
      }
    }

    .btn-holder {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      @include media ('>=desktop') {
        font-size: rem-calc(14px);
      }

      .close-slide {
        font-family: $font-family-avenir;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.33;
        text-transform: capitalize;
        color: $red;
        padding: 0 2rem;
        text-decoration: underline;
        &:hover{
          color: #87060b;
        }
      }
    }

    .btn {
      min-width: 8em;
      width: 100%;
      font-size: rem-calc(16px);
    }

    .btn-save {
      -webkit-transition: opacity 0.3s linear, background-color 0.3s linear, color 0.3s linear;
      transition: opacity 0.3s linear, background-color 0.3s linear, color 0.3s linear;
      top: 100%;
      left: 0.625rem;
      right: 0.625rem;
      border-radius: 0;
      background: $gray-700;
      border-color: $gray-700;

      &:focus {
        opacity: 1;
        box-shadow: 0 0 0 0.2rem 0 0 0 0.2rem rgba(18, 68, 160, .5);
      }

      &:hover {
        background: #1244a0;
        border-color: #1244a0;
      }

      &:not(:disabled):not(.disabled):active{
        background-color: #1244a0;
        border-color: #1244a0;
      }
    }
  }

  .location-box {
    & > div:first-child{
      margin-top: 0;
      @include media ('>=desktop') {
        margin-top: 24px;
      }
    }
    min-width: 10em;
    width: 100%;
    @include animate(background-color);

    padding-left: 0;
    padding: rem-calc(0px 15px 0 0);

    @include media ('>=sm-phone') {
      padding: rem-calc(0px 15px);
    }

    @include media ('>=tablet') {
      position: relative;
      padding: rem-calc(15px 20px 17px);
    }
    @include media ('>=desktop') {
      // margin: rem-calc(0 -13px 0 25px);
      padding: rem-calc(15px 16px 0px 13px);
    }

    &.active {
      background-color: $gray-400;
      color: $gray-700;

      .h6{
        color: $gray-700;
      }

      .opener {
        color: $gray-700;

        &:hover{
          color: $gray-700;
        }

        &:after {
          transform: translateY(-50%) rotate(180deg);
          color: $gray-700;
        }
      }

      .slide {
        background-color: $gray-400;
        padding-top: 1rem;
        @media  screen and (max-device-width: 1000px) and (orientation:landscape) {
          max-height: calc(100vh - 30px);
          overflow-y: scroll;
        }
        display: block;
        //max-height: 85vh;
        //overflow-y: scroll;

        .scrollable-wrapper {
          height: 180px;
          overflow-y: scroll;
          overflow-x: hidden;

          &::-webkit-scrollbar {
            width: auto !important;
            background: #f5f5f5;
          }
          &::-webkit-scrollbar-thumb {
            background: silver;
          }

          .grocery-list {
            font-size: 1.075rem;
            border: 1px solid #f0f0f0;
            background-color: #fff;
            padding-left: 0;
            margin-bottom: 0;
            span {
              font-weight: 400;
            }
            address {
              font-size: 1.275rem;
            }
            li {
              -webkit-transition: background-color .3s linear, color .3s linear, box-shadow .3s linear;
              transition: background-color .3s linear, color .3s linear, box-shadow .3s linear;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              font-weight: 800;
              margin: 0 -.075rem 0 -.9375rem;
              padding: .9375rem .4375rem .1875rem .9375rem;
            }
            li:hover {
              background-color: #797979;
              box-shadow: -1px 0 0 1px #b0b0b0;
              color: #fff;
            }
          }
        }
      }
    }

    .opener {
      position: relative;
      display: block;
      margin-right: rem-calc(27px);
      text-decoration: none;

      @include media ('>=tablet') {
        margin-right: rem-calc(49px);
      }

      @include media ('>=desktop') {
        margin-right: rem-calc(39px);
      }

      &:after {
        color: $gray-700;
        @include animate(transform);

        content: '\e909';
        font-family: icomoon;
        position: absolute;
        top: 50%;
        right: rem-calc(-24px);
        transform: translateY(-50%);
        font-size: rem-calc(20px);

        @include media ('>=tablet') {
          right: rem-calc(-37px);
          font-size: rem-calc(25px);
          top: calc(50% - 0rem);
        }
        @include media ('>=desktop') {
          right: rem-calc(-37px);
          font-size: rem-calc(25px);
          top: calc(50% - 0rem);
        }
      }

      &:hover {
        color: $red;
      }
    }

    .address {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-transform: capitalize;
      padding-right: rem-calc(5px);
      font-family: inherit;
      font-weight: 200;
    }

    .slide {
      @include animate(background-color);

      display: none;
      position: absolute;
      top: -1rem;
      left: 0;
      right: 0;
      padding: rem-calc(13px 10px 0 16px);
      z-index: 1000;

      @include media ('>=tablet') {
        top: 100%;
        padding: rem-calc(0 19px);
      }

      .h6 {
        font-size: rem-calc(18px);
        margin-bottom: rem-calc(6px);
        text-align: left;
      }

      .opener {
        font-size: rem-calc(16px);
        margin-bottom: rem-calc(20px);
      }
      .jcf-select-distance-select {
        max-width: 80%;
      }
    }
  }

  .location-form {
    @include media ('>=widescreen') {
      padding-top: rem-calc(4px);
    }

    label {
      margin-bottom: rem-calc(10px);

      @include media ('>=desktop') {
        font-size: rem-calc(14px);
      }
    }

    #location,
    #location2 {
      padding-left: rem-calc(36px);

      @include media ('>=tablet') {
        padding-left: rem-calc(44px);
      }
    }

    .jcf-scrollable {
      height: rem-calc(180px);
    }

    .jcf-select {
      height: rem-calc(50px);
    }

    .adress-row {
      position: relative;
      margin-bottom: rem-calc(27px);
        .form-control{
          padding-left: 4rem!important;
        }
      &:before {
        content: '\e910';
        font-family: icomoon;
        position: absolute;
        top: 50%;
        left: rem-calc(5px);
        transform: translateY(-50%);
        font-size: rem-calc(30px);
        color: $gray-700;

        @include media ('>=tablet') {
          left: rem-calc(8px);
        }
      }
    }

    .tab-content {
      padding: rem-calc(0 13px 27px 16px);
      margin: rem-calc(0 -13px 0 -16px);
      background-color: $gray-300;

      @include media ('>=tablet') {
        margin: rem-calc(0 -19px);
        padding: rem-calc(0 21px 17px);
      }
    }

    .tab {
      @include animate(opacity visibility);

      opacity: 0;
      visibility: hidden;

      &.js-tab-hidden {
        position: absolute;
        left: -9999px;
        top: -9999px;
      }

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    .grocery-list {
      @extend %listreset;

      border: 1px solid #f0f0f0;
      background-color: $white;

      @include media ('>=tablet') {
        font-size: rem-calc(14px);
      }

      li {
        @include animate(background-color color box-shadow);

        align-items: center;
        font-weight: 800;
        margin: rem-calc(0 14px 0 -15px);
        padding: rem-calc(15px 7px 3px);

        @include media ('>=tablet') {
          padding: rem-calc(13px 10px 3px 14px);
        }

        &:hover {
          background-color: #797979;
          box-shadow: -1px 0 0 1px #b0b0b0;
          color: $white;
        }
      }

      address {
        margin-bottom: rem-calc(5px);
      }

      .h4 {
        font-weight: 400;
      }
    }
  }

  .delivery-tabset {
    @extend %listreset;

    display: flex;
    flex-wrap: wrap;
    margin: rem-calc(0 -38px);
    padding: rem-calc(0 20px);

    li {
      background: #d7d7d7;
      @include animate(background-color);

      display: block;
      font-size: rem-calc(14px);
      width: 50%;
      padding: rem-calc(14px 20px 12px);

      @include media ('>=sm-phone') {
        font-size: rem-calc(16px);
      }

      &.active {
        // background-color: $gray-300;
        background-color: #e3e3e3;
        a {
          color: $gray-700;
          border-color: $gray-700;
        }
      }
      a {
        color: $gray-700 !important;
        border-color: $gray-700;
        cursor: pointer;
      }
    }

    a {
      display: block;
      text-decoration: none;
      border-bottom: 1px solid $gray-700;
      font-weight: 500;
      // color: $gray-700;
      color: $gray-700;

      &:hover {
        color: $red;
      }
    }
  }

  #delivery {
    padding: rem-calc(5px 0);

    .jcf-select {
      margin-bottom: rem-calc(50px);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #grocery {
    padding: rem-calc(15px 0 0);
    .jcf-scrollbar-horizontal {
      display: none;
    }
  }

  .navbar-brand {
    padding: 0;
    margin: 0;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  .nav-opener {
    @include animate(margin left width height);

    display: block;
    width: rem-calc(28px);
    height: rem-calc(20px);
    margin: rem-calc(0 10px 10px 0);
    left: 1rem;
    top: calc(50% - 2rem);
    position: absolute;
    border-radius: rem-calc(3px);
    text-indent: -9999px;
    overflow: hidden;
    transition: all 0.3s linear;
    z-index: 11;

    @include media ('>=sm-phone') {
      // width: rem-calc(28px);
      // height: rem-calc(28px);
      margin: rem-calc(0 0 10px 8px);
      cursor: pointer;
    }

    @include media ('>=tablet') {
      margin: rem-calc(0 0 0 8px);
    }

    @include media('>=desktop') {
      display: none;
    }

    &:before,
    &:after,
    span {
      background: $gray-700;
      position: absolute;
      top: 50%;
      left: 10%;
      right: 10%;
      height: rem-calc(2px);
      transition: all 0.3s linear;
    }

    &:before {
      content: '';
      top: 25%;
    }

    &:after {
      content: '';
      top: 75%;
    }

    &:hover {
      opacity: 1;
    }
    &.open {
      left : 26.1rem;
      span {
        opacity: 0;
      }

      &:before,
      &:after {
        transform: rotate(45deg);
        top: 50%;
        left: 15%;
        right: 15%;
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  .nav-expanded{
    opacity: 0;
    background-color: $gray-100;
    width: 31rem;
    height: 100vh;
    padding: 4rem 7rem 1.5rem 1.5rem;
    position: absolute;
    top: -1rem;
    left: -33rem;
    z-index: 10;
    visibility: hidden;
    transition: all 0.3s linear;
    //@include media('>=tablet'){
    //  width: 35%;
    //}
    @include media('>=desktop'){
      display: none;
    }
    &.open{
      opacity: 1;
      left: 0;
      visibility: visible;
      @media  screen and (max-device-width: 1000px) and (orientation:landscape) {
        /* Landscape styles here */
        //max-height: 90vh;
        overflow-y: scroll;
      }
    }
    a:hover{
      color: $red!important;
    }
    #logo{
      padding-bottom: 1em;
      border-bottom: none;
    }
    .menu{
      @extend %listreset;

      font-size: rem-calc(14px);
      font-weight: 500;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: column;
      font-size: rem-calc(16px);
      margin-top: 4px;

      @include media ('>=desktop') {
        display: none;
      }
      & > li {
        cursor: pointer;
      }
      li {
        @include animate(border-color);
        border-bottom: none;

        // padding: 1rem 1rem 1rem 1rem;
        margin-top: 4.5rem;
        width: 100%;
        border-bottom: solid 1px $gray-600;

        &:first-child{
          display: block;
          @include media ('>=desktop'){
            display: none;
          }
        }

        &:last-child{
          display: block;
          @include media ('>=desktop'){
            display: none;
          }
        }
//user account
#user-account{
  .account-opener{
    span{
      display: none;
    }
  }
  .account-info{
    width: 100%;
    &.loggined{
      .account-opener{
        border-bottom: solid 1px #8a8c8e;
        }
    }
    .account-drop{
      padding-left: 2em;
      .wrap{
        ul.list-unstyled>li{
            border-bottom: none;
            #profile-icontext{
              display: none;
              cursor: default;
            }
            .list-unstyled{
              li{
              border-bottom: solid 1px #8a8c8e;
               }
            }
            #logoutlink-icontext{
              margin-left: -2em;
            }
        }
        .list-header {
          cursor: default;
        }
      }
    }
  }
}
      }

      a {
        display: block;
        text-decoration: none;
        color: $gray-700;
        font-family: $font-family-avenir;
        font-weight: 500;
      }
    }
  }
  .cut-text{
        @media (max-width: 767px) {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 250px;
    }
    }
}

.location-slider-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 119px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
  cursor: pointer;
  overflow: hidden;
}

body>.jcf-select-filter-select.jcf-select-brand,
body>.jcf-select-vendor-select,
body>.jcf-select-retailer-select
{
  z-index: $zindex-fixed-header !important;
}

body>.jcf-select-distance-select {
  z-index: 9999;
}
.retailer-menu {
  .location-box {
    &.active {
      padding-top: 3.5em !important;
      //padding-bottom: 1rem !important;
      .slide {
        padding-top: 0 !important;
      }
    }
    .slide {
      background: #e3e3e3 !important;
      top: 105% !important;
    }
  }
}
