#header-four {
  position: relative;
  #header {
    padding-top: rem-calc(23px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1090;
    width: 100%;
    background-color: #e7e7e7;

    @include media ('>=tablet') {
      padding: rem-calc(23px 0 5px);
    }

    @include media ('>=desktop') {
      padding: rem-calc(38px 0 0);
    }

    .container-fluid {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @include media ('>=desktop') {
        display: block;
      }
    }
  }

  .header-nav {
    @include animate(left);

    position: static;
    display: flex;
    height: auto;
    width: calc(100% - 2.5625rem);
    padding: 0;
    margin-bottom: rem-calc(36px);
    background-color: transparent;

    @include media ('>=tablet') {
      left: rem-calc(-680px);
      width: rem-calc(680px);
      //padding: rem-calc(80px 148px 15px 33px);
    }

    @include media ('>=desktop') {
      position: static;
      display: flex;
      height: auto;
      width: calc(100% - 2.5625rem);
      padding: 0;
      margin-bottom: rem-calc(36px);
      background-color: transparent;
    }
    @include media ('<tablet') {
      margin-bottom: rem-calc(16px);
    }
    //.navbar-brand {
    //  margin-bottom: rem-calc(60px);
    //
    //  @include media ('>=tablet') {
    //    margin-bottom: rem-calc(58px);
    //  }
    //
    //  @include media ('>=desktop') {
    //    margin: rem-calc(0 85px 0 0);
    //  }
    //}
  }

  .location-holder {
    display: flex;
    align-items: center;
    //margin: rem-calc(0 -15px 15px);
    padding: rem-calc(0 15px);
    font-size: rem-calc(14px);
    background-color: $gray-300;
    margin: rem-calc(10px 0 15px);
    @include media ('>=tablet') {
      font-size: rem-calc(16px);
      margin: 0;
    }
    @include media ('<tablet') {
      margin-bottom: 0;
    }
    @include media ('>=desktop') {
      display: flex;
      justify-content: flex-end;
      background-color: $gray-300;
      //margin: rem-calc(0 -15px);
      margin: 0;
      min-height: 6rem;
    }
  }
  .navbar-brand {
    padding: 0;
    margin-left: 45%;
    z-index: 50;
    @media screen and(max-device-width: 740px) {
      margin-left: 35%;
    }
    @media  screen and (max-device-width: 811px) and (min-device-width: 480px) and (orientation:landscape) {
      /* Landscape styles here */
      margin-left: 43%;
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
}
