#app-header-div {
  #header {
    position: relative;
    margin-bottom: 0;
    background-color: $white;

    @include media-breakpoint-up (md) {
      z-index: 99;
    }
    .location-nav-bar {
      width: 65%;
      min-height: 3rem;
    }
  }

  /* delivery address styles */
  .top-header-panel {
    padding: .9rem 0 .5rem;
    // not neeed
    // background: linear-gradient(to right, rgba(248, 248, 248, 1) 0%, rgba(248, 248, 248, 1) 12%, rgba(255, 255, 255, 1) 36%, rgba(255, 255, 255, 1) 68%, rgba(252, 252, 252, 1) 100%);

    @include media-breakpoint-up (md) {
      padding: 1.3rem 2.5rem;
    }

    @include media-breakpoint-up (lg) {
      padding: 2.5rem 0 2.5rem;
    }

    .inner-wrap {
      @include media-breakpoint-up (lg) {
        padding: 0 0 0 3.4rem;
      }
    }
  }

  .delivery-address {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 1.3rem;
    line-height: 1.2;
    padding: 0 2rem;
    cursor: pointer;
    color: $blue;
    outline: none;

    @include media-breakpoint-up (md) {
      font-size: 1rem;
      padding: 0 3rem 0 4rem;
    }

    @include media-breakpoint-up (lg) {
      font-size: 1.3rem;
      padding: .1rem 3rem 0 5.1rem;
    }

    &:after {
      @extend %icon;

      content: $icon-arrow-d;
      right: -.5rem;
      top: 50%;
      position: absolute;
      transform: translateY(-50%) rotate(-90deg);
      font-size: 2rem;
      line-height: 1;
      color: #879aaf;

      @include media-breakpoint-up (lg) {
        font-size: 2.2rem;
        right: -.6rem;
      }
    }

    .icon-car {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2.4rem;
      line-height: 1;

      @include media-breakpoint-up (lg) {
        font-size: 2.7rem;
      }
    }

    .title {
      display: block;
      text-transform: capitalize;
      color: $blue-700;
      font-weight: 400;
      @include media-breakpoint-down (xs) {
        margin-top: 13px;
      }
    }

    address {
      margin: 0;
      @include media-breakpoint-down (xs) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 160px;
      }
    }
  }

  .navbar-holder {

    background: theme-color("primary");
    padding: 2.5rem 0;
    min-height: 6rem;

    @include media-breakpoint-up (md) {
      padding: 0;
    }
    @include media-breakpoint-down(xs) {
      min-height: 4rem;
    }
    .container {
      @include media-breakpoint-up (md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    .navbar-right {
      @include media-breakpoint-up (md) {
        padding: 0 1.5rem 0 0;
      }

      @include media-breakpoint-up (lg) {
        padding: 0 3.5rem 0 0;
      }
    }
    .logo-holder {
      position: relative;
      margin: -2.5rem 0;

      @include media-breakpoint-up (md) {
        margin: 0;
      }

      /* page logo styles */
      .logo {
        width: 13.7rem;
        margin: 0 auto;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -7rem;
        top: 0;
        z-index: 4;

        @include media-breakpoint-up (lg) {
          width: 24.4rem;
          margin-left: -12.2rem;
        }

        // &:after,
        // &:before {
        //   bottom: .3rem;
        //   content: "";
        //   position: absolute;
        //   width: 50%;
        //   height: 2rem;
        //   z-index: -10;
        //   opacity: .4;

        //   @include media-breakpoint-up (lg) {
        //     bottom: .8rem;
        //   }
        // }

        // &:before {
        //   left: -.4rem;
        //   transform: rotate(-5deg);
        //   box-shadow: 7px 7px 10px #000;
        // }

        // &:after {
        //   right: -.4rem;
        //   transform: rotate(5deg);
        //   box-shadow: -7px 7px 10px #000;
        // }

        a {
          display: block;
          background: linear-gradient(to top, #f3f4f4 0%, #fcfcfc 100%);
          padding: .7rem 3rem .7rem;
          position: relative;
          z-index: 2;

          @include media-breakpoint-up (md) {
            padding: 1.3rem 2.4rem 1.3rem;
          }

          @include media-breakpoint-up (lg) {
            padding: 1rem 7.2rem 1rem;
          }
        }

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  /* mobile menu opener styles */
  .nav-opener {
    @include size(4.4rem, 3.6rem);

    position: relative;
    display: block;
    margin-left: -.7rem;

    @include media-breakpoint-up (md) {
      display: none;
    }

    .nav-active & {
      span {
        opacity: 0;
      }

      &:before,
      &:after {
        transform: rotate(45deg);
        top: 50%;
        left: 15%;
        right: 15%;
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    &:before,
    &:after,
    span {
      background: #1e4874;
      position: absolute;
      top: 50%;
      left: 25%;
      right: 25%;
      height: .4rem;
      margin-top: -.2rem;
      transition: $animation-speed ease 0s;
    }

    &:after,
    &:before {
      content: '';
      top: 30%;
    }

    &:after {
      top: 70%;
    }
  }

  .mobile-drop {
    @include media-breakpoint-down (sm) {
      @include animate(opacity visibility transform);

      position: fixed;
      left: 0;
      top: 0;
      background: $blue-700;
      padding: 4rem 0;
      width: 26rem;
      transform: translate3d(-100%, 0, 0);
      opacity: 0;
      visibility: hidden;
      z-index: 111;
      height: 100vh;
      overflow: visible;

      .nav-active & {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
      }
      a {
        color: $primary;
      }
      a.router-link-exact-active.navbar-router-link-active {
        color: $secondary;
        background: $white;
      }
    }

    .close-link {
      @include size(4.5rem);

      position: absolute;
      left: 100%;
      margin-left: 1.5rem;
      top: 2rem;
      background: $white;
      border-radius: 50%;
    }
  }

  /* main navigation styles */
  .main-nav {
    margin: 0;
    font-size: 2.6rem;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    @include media-breakpoint-up (md) {
      display: flex;
      flex-wrap: wrap;
      font-size: 1.3rem;
    }

    @include media-breakpoint-up (lg) {
      font-size: 1.5rem;
      text-align: center;
    }

    li {
      margin-bottom: .4rem;

      @include media-breakpoint-up (md) {
        display: flex;
        margin: 0;
      }

      &.active {
        a {
          background: $white;
          color: $blue-700;

          @include media-breakpoint-up (md) {
            background: #1e4874;
            color: $white;
          }
        }
      }
    }

    a {
      @include animate(background color);

      display: block;
      padding: 1.2rem 2.5rem;

      @include media-breakpoint-up (md) {
        color: $blue-700;
        padding: 2.9rem 1.2rem 2.4rem;
      }

      @include media-breakpoint-up (lg) {
        padding: 2.6rem 2.2rem 2.4rem;
      }

      @include media-breakpoint-up (xl) {
        min-width: 13.6rem;
      }

      &:focus,
      &:hover {
        @include media-breakpoint-up (md) {
          background: #1e4874;
          color: $white;
        }
      }
    }
  }

  /* account info styles */
  .cart-info {
    @include media-breakpoint-down (sm) {
      position: absolute;
      right: 1.1rem;
      top: 1.1rem;
    }

    @include media-breakpoint-up (md) {
      float: right;
    }

    .cart-link {
      color: #1E4874;
      font-size: 3rem;
      line-height: 1;
      position: relative;

      .badge {
        position: absolute;
        right: -15px;
        top: -5px;
        margin: 0;
        font-size: 1.1rem;
      }

      @include media-breakpoint-up (md) {
        color: $white;
      }

      &:focus,
      &:hover {
        outline: none;
        color: $blue-700;
      }
    }
  }

  /* account info styles */
  .account-info {
    @include media-breakpoint-up (md) {
      float: right;
      padding: 0.8rem 2.5rem 0 0;
      position: relative;
    }

    &.loggined:hover {
      .account-drop {
        opacity: 1;
        visibility: visible;
      }

      .account-opener {
        .icon-arrow-d {
          transform: rotate(-180deg);
        }
      }
    }

    .account-opener {
      @include media-breakpoint-up (md) {
        color: $white;
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 400;
      }

      @include media-breakpoint-up (lg) {
        font-size: 1.4rem;
      }

      &:focus,
      &:hover {
        outline: none;
        color: $blue-700;
      }

      .icon-arrow-d {
        @include media-breakpoint-up (md) {
          font-size: 2rem;
          line-height: 1;
          display: inline-block;
          vertical-align: top;
          margin: 0 0 0 1.4rem;
        }
      }
    }

    .account-drop {
      @include animate(opacity visibility);

      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      width: 19rem;
      z-index: 99;
      padding-top: 2rem;
      opacity: 0;
      visibility: hidden;

      .wrap {
        background: $white;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        border-radius: 0 0 5px 5px;
        position: relative;
      }

      ul {
        font-weight: 300;
        text-transform: capitalize;
        margin: 0;

        li {
          &.active {
            a {
              background: #1e4874;
              color: $white !important;
            }
          }
        }

        a {
          @include animate(background color);

          display: block;
          padding: 4px 10px;
          color: #373737 !important;
          padding: 10px 15px 9px 22px;

          &:hover {
            background: #1e4874;
            color: $white !important;
          }
        }

        ul {
          background: #ececec;

          li {
            margin: 0;
          }

          a {
            padding: 9px 15px 9px 36px;
          }
        }
      }
    }
  }

  .resize-active {
    * {
      transition: none !important;
    }
  }
  #main {
    margin-top: 18rem;
  }
  .mobile-drop.mobile-nav {
    .main-nav {
      overflow-y: auto;
      height: 100vh;
      & > li:last-child {
        margin-bottom: 7rem;
      }
    }
  }
}

