#header-three {
  position: relative;
  #header {
    padding-top: rem-calc(23px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: $zindex-fixed-header;
    width: 100%;
    background-color: #e7e7e7;

    @include media ('>=tablet') {
      padding: rem-calc(23px 0 5px);
    }

    @include media ('>=desktop') {
      padding: rem-calc(38px 0 0);
    }

    .container-fluid {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @include media ('>=desktop') {
        display: block;
      }
    }
  }

  .breadcrumb-nav {
    width: calc(100% + 1.875rem);
    margin: rem-calc(0 -15px);
    padding: rem-calc(0 15px);
    @include media-breakpoint-down(md){
      background: #e3e3e3;
      height: 55px;
     }
    @include media-breakpoint-down(sm){
    padding-bottom: 8px;
   }
    @include media ('>=sm-phone') {
      padding: rem-calc(0 20px);
    }

    @include media ('>=desktop') {
      background-color: transparent;
    }

    @include media ('>=desktop') {
      position: absolute;
      bottom: rem-calc(25px);
      left: rem-calc(15px);
      width: 50%;
    }

    a {
      text-decoration: none;
    }

    .breadcrumb {
      padding-left: 0;
      margin: 0;
    }

    .breadcrumb-item {
      color: #626271;
    }
  }

  .cart-holder {
    position: relative;
    top: rem-calc(8px);
    right: 0;
    width: rem-calc(23px);
    height: rem-calc(20px);
    margin-left: rem-calc(3px);
    text-decoration: none;

    @include media ('>=sm-phone') {
      margin-left: rem-calc(18px);
    }

    @include media ('>=tablet') {
      top: 0;
      right: rem-calc(-5px);
      margin-left: 0;
    }

    @include media ('>=desktop') {
      position: absolute;
      top: rem-calc(7px);
      right: rem-calc(19px);
    }

    .opener {
      &:hover {
        i {
          color: $red;
        }
      }

      i {
        @include animate(color);

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: $gray-700;
        font-size: rem-calc(20px);
      }
    }

    .badge {
      position: absolute;
      top: rem-calc(-8px);
      right: rem-calc(-11px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: rem-calc(19px);
      height: rem-calc(19px);
      color: $white;
      font-size: rem-calc(13px);
      font-family: $font-family-avenir;
      line-height: 0;
      border-radius: 50%;
    }

    .slide {
      display: none;
      position: absolute;
      right: rem-calc(-6px);
      top: calc(100% + 1.125rem);
      width: rem-calc(305px);
      padding: rem-calc(0 15px 15px);
      color: $gray-800;
      background-color: #f5f5f5;
      border-radius: 0 0 25px 25px;
      text-align: center;
      z-index: 2;

      @include media ('>=sm-phone') {
        padding: rem-calc(0 30px 15px);
        width: rem-calc(355px);
      }

      @include media ('>=tablet') {
        z-index: 4;
      }

      &:before {
        content: '';
        position: absolute;
        top: rem-calc(-20px);
        right: rem-calc(9px);
        border: 10px solid transparent;
        border-bottom: 10px solid #f5f5f5;
      }

      .h2 {
        display: block;
        color: $gray-700;
        font-size: rem-calc(28px);
        margin: 0;
        padding: rem-calc(8px 0);
        text-transform: none;
        font-weight: 800;
      }

      .btn {
        width: 100%;
        margin-bottom: rem-calc(30px);
        text-decoration: none;
        font-weight: 500;
      }

      a {
        text-decoration: underline;
      }
    }

    .product-box {
      display: flex;
      margin: rem-calc(0 -15px 20px);
      padding: rem-calc(8px 30px);
      background-color: rgba($gray-400, .25);
      text-align: left;

      @include media ('>=sm-phone') {
        margin: rem-calc(0 -30px 20px);
      }

      .img-box {
        width: rem-calc(109px);
      }

      .text-box {
        width: calc(100% - 6.8125rem);
        padding: rem-calc(6px 17px);
      }

      .h3 {
        display: block;
        font-size: rem-calc(16px);
        font-family: $font-family-brandon;
        font-weight: 900;
        text-transform: uppercase;
        color: $red;
        margin-bottom: rem-calc(14px);
      }

      .price {
        color: $red;
        font-weight: 900;
        font-size: rem-calc(16px);
      }
    }
  }

  .header-nav {
    @include animate(left);

    display: -moz-box;
    display: -webkit-box;
    display: box;
    display: -ms-flexbox;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -ms-flex-wrap: wrap;

    position: absolute;
    left: rem-calc(-336px);
    top: rem-calc(-24px);
    width: rem-calc(310px);
    padding: rem-calc(80px 70px 15px 15px);
    height: 100vh;
    z-index: 3;
    background-color: $gray-100;
    overflow-y: auto;

    @include media ('>=tablet') {
      left: rem-calc(-680px);
      width: rem-calc(680px);
      padding: rem-calc(80px 148px 15px 33px);
    }

    @include media ('>=desktop') {
      position: static;
      height: auto;
      width: calc(100% - 2.5625rem);
      padding: 0;
      margin-bottom: rem-calc(36px);
      background-color: transparent;
    }

    .nav-active & {
      left: 0;
    }

    .navbar-brand {
      margin-bottom: rem-calc(60px);

      @include media ('>=tablet') {
        margin-bottom: rem-calc(58px);
      }

      @include media ('>=desktop') {
        margin: rem-calc(0 85px 0 0);
      }
    }

    ul {
      &.menu {
        width: 70%;
        position: absolute;
        @include media ('<=tablet') {
          padding-left: 0;
          width: 75%;
        }
        @include media ('<tablet') {
          padding-bottom: 1rem;
          margin-bottom: 1rem;
        }
      }
    }

    .menu {
      @extend %listreset;

      font-size: rem-calc(16px);
      font-weight: 500;

      @include media ('>=desktop') {
        width: calc(100% - 13.75rem);
      }

      @include media ('>=desktop') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        font-size: rem-calc(16px);
      }

      li {
        @include animate(border-color);



        margin-bottom: rem-calc(44px);
        a{
          border-bottom: 1px solid $gray-600;
          :nth-child(3){
            border-bottom: none;
          }
        }


        @include media ('>=desktop') {
          margin-bottom: 0;
          min-width: rem-calc(150px);
        }

        a.list-header {
          background-color: transparent !important;

          &:hover {
            color: #373737 !important;
          }
        }

        &:hover,
        &:active {
          border-color: $red;

          a {
            color: $red;
          }
        }
        &.no-highlight {
          ul {
            border-color: #8a8c8e !important;
          }
          a {
            color: #585857;
            &:active,
            &:hover{
              color: $red;
            }
          }
        }
      }

      a {
        display: block;
        text-decoration: none;
        color: $gray-700;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .location-holder {
    display: flex;
    align-items: center;
    margin: rem-calc(0 -15px 15px);
    padding: rem-calc(0 15px);
    font-size: rem-calc(14px);

    @include media ('>=tablet') {
      font-size: rem-calc(16px);
      margin: 0;
    }

    @include media ('>=desktop') {
      display: flex;
      justify-content: flex-end;
      background-color: $gray-300;
      margin: rem-calc(0 -15px);
    }

    .h6 {
      display: block;
      text-transform: uppercase;
      margin-bottom: rem-calc(12px);

      @include media ('>=tablet') {
        margin-bottom: rem-calc(6px);
        font-size: rem-calc(11px);
      }
    }

    .btn-holder {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @include media ('>=sm-phone') {
        padding-left: rem-calc(30px);
      }

      @include media ('>=tablet') {
        padding-left: rem-calc(41px);
      }

      @include media ('>=desktop') {
        font-size: rem-calc(14px);
      }
    }

    .btn {
      min-width: rem-calc(230px);
      font-size: rem-calc(16px);

      @include media ('>=tablet') {
        min-width: rem-calc(280px);
      }

      @include media ('>=widescreen') {
        min-width: rem-calc(285px);
      }
    }
  }

  .location-box {
    @include animate(background-color);

    width: rem-calc(220px);
    padding-left: 0;
    padding: rem-calc(0px 15px 0 0);

    @include media ('>=sm-phone') {
      width: rem-calc(260px);
      padding: rem-calc(0px 15px);
    }

    @include media ('>=tablet') {
      position: relative;
      padding: rem-calc(15px 20px 17px);
      width: rem-calc(466px);
    }

    @include media ('>=desktop') {
      margin: rem-calc(0 -13px 0 25px);
      padding: rem-calc(15px 16px 13px 23px);
    }

    &.active {
      background-color: #d7d7d7;

      .opener {
        &:after {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      .slide {
        background-color: $gray-400;
      }
    }

    .opener {
      position: relative;
      display: block;
      margin-right: rem-calc(27px);
      border-bottom: 1px solid $gray-600;
      text-decoration: none;
      color: $gray-700;

      @include media ('>=tablet') {
        margin-right: rem-calc(49px);
      }

      @include media ('>=desktop') {
        margin-right: rem-calc(39px);
      }

      &:after {
        @include animate(transform);

        content: '\E909';
        font-family: icomoon;
        position: absolute;
        top: 50%;
        right: rem-calc(-24px);
        transform: translateY(-50%);
        font-size: rem-calc(22px);

        @include media ('>=tablet') {
          right: rem-calc(-37px);
        }
      }

      &:hover {
        color: $red;
      }
    }

    .address {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-right: rem-calc(17px);
    }

    .slide {
      @include animate(background-color);

      display: none;
      position: absolute;
      top: rem-calc(-23px);
      left: 0;
      right: 0;
      padding: rem-calc(13px 10px 0 16px);
      z-index: 4;

      @include media ('>=tablet') {
        top: 100%;
        padding: rem-calc(0 19px);
      }

      .h6 {
        font-size: rem-calc(11px);
        margin-bottom: rem-calc(6px);
      }

      .opener {
        font-size: rem-calc(16px);
        margin-bottom: rem-calc(20px);
      }
    }
  }

  .location-form {
    @include media ('>=widescreen') {
      padding-top: rem-calc(4px);
    }

    label {
      margin-bottom: rem-calc(10px);

      @include media ('>=desktop') {
        font-size: rem-cal(14px);
      }
    }

    #location,
    #location2 {
      padding-left: rem-calc(36px);

      @include media ('>=tablet') {
        padding-left: rem-calc(44px);
      }
    }

    .jcf-scrollable {
      height: rem-calc(180px);
    }

    .jcf-select {
      height: rem-calc(45px);
    }

    .adress-row {
      position: relative;
      margin-bottom: rem-calc(27px);

      &:before {
        content: '\E910';
        font-family: icomoon;
        position: absolute;
        top: 50%;
        left: rem-calc(5px);
        transform: translateY(-50%);
        font-size: rem-calc(30px);
        color: #8f8f8f;

        @include media ('>=tablet') {
          left: rem-calc(8px);
        }
      }
    }

    .tab-content {
      padding: rem-calc(0 13px 27px 16px);
      margin: rem-calc(0 -13px 0 -16px);
      background-color: $gray-300;

      @include media ('>=tablet') {
        margin: rem-calc(0 -19px);
        padding: rem-calc(0 21px 17px);
      }
    }

    .tab {
      @include animate(opacity visibility);

      opacity: 0;
      visibility: hidden;

      &.js-tab-hidden {
        position: absolute;
        left: -9999px;
        top: -9999px;
      }

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    .grocery-list {
      @extend %listreset;

      border: 1px solid #f0f0f0;
      background-color: $white;

      @include media ('>=tablet') {
        font-size: rem-calc(14px);
      }

      li {
        @include animate(background-color color box-shadow);

        align-items: center;
        font-weight: 800;
        margin: rem-calc(0 14px 0 -15px);
        padding: rem-calc(15px 7px 3px);

        @include media ('>=tablet') {
          padding: rem-calc(13px 10px 3px 14px);
        }

        &:hover {
          background-color: #797979;
          box-shadow: -1px 0 0 1px #b0b0b0;
          color: $white;
        }
      }

      address {
        margin-bottom: rem-calc(5px);
      }

      .h4 {
        font-weight: 400;
      }
    }
  }

  .delivery-tabset {
    @extend %listreset;

    display: flex;
    flex-wrap: wrap;
    margin: rem-calc(0 -39px);
    padding: rem-calc(0 20px);

    li {
      @include animate(background-color);

      display: block;
      font-size: rem-calc(14px);
      width: 50%;
      padding: rem-calc(14px 20px 12px);

      @include media ('>=sm-phone') {
        font-size: rem-calc(16px);
      }

      &.active {
        background-color: $gray-300;
      }
    }

    a {
      display: block;
      text-decoration: none;
      border-bottom: 1px solid $gray-700;
      font-weight: 500;
      color: $gray-700;

      &:hover {
        color: $red;
      }
    }
  }

  #delivery {
    padding: rem-calc(21px 0 3px);

    .jcf-select {
      margin-bottom: rem-calc(49px);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #grocery {
    padding: rem-calc(18px 0 13px);

    .jcf-scrollbar-horizontal {
      display: none;
    }
  }

  .navbar-brand {
    padding: 0;
    margin: 0;
    z-index: 50;

    img {
      display: block;
      max-width: 100%;
    }
  }

  .nav-opener {
    @include animate(margin left width height);

    display: block;
    width: rem-calc(28px);
    height: rem-calc(20px);
    margin: rem-calc(0 10px 10px 0);
    left: 0;
    position: relative;
    border-radius: rem-calc(3px);
    text-indent: -9999px;
    overflow: hidden;
    transition: all 0.3s linear;
    z-index: 4;

    @include media ('>=sm-phone') {
      margin: rem-calc(0 0 10px 8px);
    }

    @include media ('>=tablet') {
      margin: rem-calc(0 0 0 8px);
    }

    @include media('>=desktop') {
      display: none;
    }

    &:before,
    &:after,
    span {
      background: $gray-700;
      position: absolute;
      top: 50%;
      left: 10%;
      right: 10%;
      height: rem-calc(2px);
      transition: all 0.3s linear;
    }

    &:before {
      content: '';
      top: 25%;
    }

    &:after {
      content: '';
      top: 75%;
    }

    .nav-active & {
      width: rem-calc(34px);
      height: rem-calc(30px);
      left: rem-calc(231px);
      margin: rem-calc(0 0 6px 5px);

      @include media ('>=tablet') {
        left: rem-calc(564px);
        top: rem-calc(-10px);
      }

      &:before,
      &:after {
        transform: rotate(45deg);
        top: 50%;
        left: 15%;
        right: 15%;
      }

      &:after {
        transform: rotate(-45deg);
      }

      span {
        opacity: 0;
      }
    }

    &:hover {
      opacity: .5;
    }
  }

  /* account info styles */
  .account-info {
    @include media-breakpoint-up (md) {
      float: right;
      padding: 0.8rem 2.5rem 0 0;
      position: relative;
    }

    &.loggined:hover {
      .account-drop {
        opacity: 1;
        visibility: visible;
      }

      .account-opener {
        .icon-arrow-d {
          transform: rotate(-180deg);
        }
      }
    }

    .account-opener {
      @include media-breakpoint-up (md) {
        color: $white;
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 400;
      }

      @include media-breakpoint-up (lg) {
        font-size: 1.6rem;
      }

      &:focus,
      &:hover {
        outline: none;
        color: $red;
      }

      .icon-arrow-d {
        @include media-breakpoint-up (md) {
          font-size: 2rem;
          line-height: 1;
          display: inline-block;
          vertical-align: top;
          margin: 0 0 0 1.4rem;
        }
      }
    }

    .account-drop {
      @include animate(opacity visibility);

      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      width: 19rem;
      z-index: 99;
      padding-top: 2rem;
      opacity: 0;
      visibility: hidden;

      .wrap {
        background: $white;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        border-radius: 0 0 5px 5px;
        position: relative;
      }

      ul {
        font-weight: 300;
        text-transform: capitalize;
        margin: 0;

        li {
          border-bottom: none;

          a {
            border-bottom: none;
          }
          &.active {
            a {
              background: $dropdown-link-hover-bg;
              color: $white !important;
            }
          }
        }

        a {
          @include animate(background color);

          display: block;
          padding: 4px 10px;
          color: #373737 !important;
          padding: 10px 15px 9px 22px;

          &:hover {
            background: $dropdown-link-hover-bg;
            color: $white !important;
          }
        }

        ul {
          background: #ececec;

          li {
            margin: 0;
          }

          a {
            padding: 9px 15px 9px 36px;
            border-bottom: none;
          }
        }
      }
    }
  }
}

.location-slider-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1049;
  cursor: pointer;
  overflow: hidden;
}
